@media screen and (max-width : 1230px ){
    .iconsContenedor .iconsImg-info {
        grid-template-columns: 100% !important;
        padding: 0 10px;
      }

    
    .iconsImg {
      display: grid;
      grid-template-columns: repeat(7 , minmax(min-content , 1fr)) !important;
      gap: 4px;
      text-align: center;
    }
    

    .ceraInfo {
      max-width: 100% !important;
    }
}


@media screen and (max-width : 1130px){

  /* =========RESPONSIVE CAJA DE AGENDAR======= */
    .divReservaGrid {
    grid-template-columns: repeat(2 , auto) !important;
    max-width: 95% !important;
    /* padding: 0 10px; */
    }

  .imgResera {
    display: none;
  }
  /* =========*FIN RESPONSIVE CAJA DE AGENDAR======= */

  .iconsContenedor .iconsImg-info {
    max-width: 99% !important;
  }
  

  .iconsImg {
    grid-template-columns: 1fr 1fr 1fr !important;
  }

  .iconsImg .tituloIcons {
    grid-column: span 3 !important;
  }
  
  .icon8 {
    grid-column: span 3 ;
  }

} 

@media screen and ( max-width : 990px ){
  
  
    horariosAtenconChild{
    grid-template-columns: 100% !important;
  }

  .horariosAtenconChild div:nth-child(3) {
    grid-column: auto;
  }

  .datosReserva {
    display: grid;
    grid-template-columns: repeat(1 ,minmax(auto , 100% )) ;
    grid-template-rows: repeat(5, 1fr) auto;
  }

  /* ================Beneficios de la depilacion con cera ============ */

  .__contendorBeneficiosDepilacionCera{
    grid-template-columns: 100%;
    grid-template-rows: repeat( 2 , minmax( min-content , auto ) );
    gap : 5px;
    padding: 180px 15px;
  }

  ._quienesSomosIndex {
    max-width: 100%;
    width: 100%;
  }

  /* ================*Fin Beneficios de la depilacion con cera ============ */
  .nameOpiones {
    /* background-color: white; */
    width: auto;
    /* padding: 15px; */
  }

  #carouselExampleSlidesOnly{
    padding: 80px 10px;
  }

  .carousel-inner {
    height: auto;
    /* border-radius: 50px; */
  }
  
  
}

@media screen and (max-width : 840px ){

    .reservarHBS{
      height: auto !important;
      /* padding: 0; */
    }

  .__contendorBeneficiosDepilacionCera {
    padding: 30px 10px !important;
  }


  .registrarReserva {
    grid-template-columns: repeat(3, minmax(min-content , 1fr)) !important; 
  }
  
  .divReservaGrid {
    grid-template-columns: 100% !important;
    grid-template-rows: repeat(2 , min-content) !important;
    /* width: 100%; */
  }

  
  .iconsContenedor{
    padding: 10px  0 642px 0 !important;
  }

  #carouselExampleSlidesOnly{
    margin-bottom: 320px;
  }

  .nameOpiones {
    /* background-color: white; */
    width: auto;
    /* padding: 15px; */
  }

  ._ubicacionIndexContainerChild{
    flex-direction: column;
  }

  .__ubicacionIndexContainer {
    background-color: rgb(245, 245, 245);
    padding: 50px 10px;
  }
  

  ._imgLocalIndex {
    max-width: 100%;
  }

  ._quienesSomosIndex{
    padding: 10px;
  }
  
}


@media screen and (max-width : 782px ){
  ._datosCumpleanios{
    text-align: center;
  }
  ._datosCumpleanios a {
    display: block;
    max-width: 105px;
    margin: 10px auto 3px auto;
  }
}



@media screen and (max-width : 600px ){

    .divReservaGrid{
      width: 100%;
    }

    
    .registrarReserva{
      grid-template-columns: repeat(1, 100%) !important;
    }

    .agendarBoton {
      grid-column: auto !important;
    }


    .reserva {
      grid-column:  auto !important;
      text-align: center;
    }

    
    .iconsImg {
    grid-template-columns: 100% !important;
    }

    .iconsImg .tituloIcons {
    grid-column: auto !important;
    }

    .icon8 {
    grid-column: auto !important;
    }

    .cajaPrincipal {
      width: 100%;
    }

    .iconsContenedor{
    padding: 10px  0 642px 0 !important;
    }

    .iconsImg-info img {
    /* display: none; */
    /* background-color: red; */
    padding: 8px;
    }





    .iconsImg .tituloIcons {
    grid-column: auto;
    }

    .iconsImg > div {
    /* background-color: turquoise; */
    padding: 7px;
    margin: 0;
    }

    .datosMain h1 {
    font-size: 50px;
    }

    .navbar {
    background-color: salmon;
    } 

    .logo {
      display: flex;
      justify-content: center;
      z-index: 600;
    }


    .logo img {
      margin: 0;
      position: fixed;
      padding: 6px;
      z-index: 600;
      width: 200px;
      left: auto;
    }



    .reserva h5 {
    font-size: 30px;
    margin: 0;
    }

     /* ================Beneficios de la depilacion con cera ============ */
    .background {
      background-color: rgb(245, 245, 245);
    }
     
     
     .__contendorBeneficiosDepilacionCera {
      padding: 100px 10px 20px 10px;
    }

    ._quienesSomosIndex{
        order: 0;
    }


    .__contendorBeneficiosDepilacionCeraChild{
      grid-template-columns: repeat( 1 , minmax( 100% , 100% ) ) !important;
    } 

    .__contendorBeneficiosDepilacionCeraChild div:last-child{
      grid-column: auto;
    }

    .__contendorBeneficiosDepilacionCeraChild div:first-child{
      grid-column: auto;
    }

    .__contendorBeneficiosDepilacionCeraChild > div{
      background-color:rgb(220, 254, 255);
      border-radius: 15px;
      margin: 0 ;
      width: 100%;
      box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.1);
  /* background-color: rgb(102, 101, 101); */
    }
    
    /* ================*Fin Beneficios de la depilacion con cera ============ */
    
    /*=================== locales index ============================== */

    ._ubicacionIndexContainerChild{
      flex-direction: column;
    }

    /*===================*fin locales index ============================== */

    /* =============== opiniones ========== */
    #carouselExampleSlidesOnly{
      margin-bottom: 320px;
    }

    .nameOpiones {
      width: auto;
      text-align: center;
    }

    /* =============== *fin opiniones ========== */


    ._datosCumpleanios h6 {
      font-size: 12px;
    }
    
    ._datosCumpleanios a {
      font-size: 11px;
    }

    @keyframes ejectoReserva {
      from {
        margin-top: 100px;
        opacity: 0;
      }
    
      to {
        margin: 10px;
        opacity: 1;
      }
    }

    
}


@media screen and (max-width : 600px ){

  .__contendorBeneficiosDepilacionCeraChild {
    width: 100%;
  }
  
}

