@media screen and (max-width : 1230px ){
    .iconsContenedor .iconsImg-info {
        grid-template-columns: 100% !important;
        padding: 0 10px;
      }

    
    .iconsImg {
      display: grid;
      grid-template-columns: repeat(7 , minmax(min-content , 1fr)) !important;
      gap: 4px;
      text-align: center;
    }
    

    .ceraInfo {
      max-width: 100% !important;
    }
}


@media screen and (max-width : 1130px){

  .iconsContenedor .iconsImg-info {
    max-width: 99% !important;
  }
  

  .iconsImg {
    grid-template-columns: 1fr 1fr 1fr !important;
  }

  .iconsImg .tituloIcons {
    grid-column: span 3 !important;
  }
  
  .icon8 {
    grid-column: span 3 ;
  }

} 

@media screen and (max-width : 800px ){
  .iconsContenedor{
    padding: 10px  0 642px 0 !important;
}
}



@media screen and (max-width : 600px ){

    .iconsImg {
      grid-template-columns: 100% !important;
    }

    .iconsImg .tituloIcons {
      grid-column: auto !important;
    }
      
    .icon8 {
      grid-column: auto !important;
    }
    
      .cajaPrincipal {
          width: 100%;
      }
      
    .iconsContenedor{
        padding: 10px  0 642px 0 !important;
    }

    .iconsImg-info img {
        /* display: none; */
        /* background-color: red; */
        padding: 8px;
      }

      .iconsImg .tituloIcons {
        grid-column: auto;
      }

      .iconsImg > div {
        /* background-color: turquoise; */
        padding: 7px;
        margin: 0;
      }
      
    .datosMain h1 {
        font-size: 50px;
    }

    .navbar {
      background-color: var(--rojo);
    } 

    .logo {
      display: flex;
      justify-content: center;
      z-index: 600;
    }


    .logo img {
      margin: 0;
      position: fixed;
      padding: 6px;
      z-index: 600;
      width: 200px;
      left: auto;
    }

    .divReservaGrid {
      /* width: 100%; */
      width: 100%;
      min-width: 100%;
      grid-template-columns: 100%;
      grid-template-rows: min-content min-content 100px;
      /* min-width: 100% ; */
      /* background-color: red; */
    }

    .divReservaGrid > div , .divReservaGrid > form{
      width: auto;
      margin : 0;
    }

    .reserva h5 {
      font-size: 30px;
      margin: 0;
    }

    .registrarReserva {
      display: block;
      grid-column: auto;
    }
    
    .datosReserva{
      /* grid-template-rows: repeat(5, 1fr) auto; */
      grid-column: auto;
    }
    
    
    .horariosReserva {
      grid-row: span 2;
    }

    .ubicacionReserva{
      grid-row: span 2;
    }

    .covid19Reserva{
      grid-row: span 1;
    }

    .reservarHBS{
      padding: 10px;
    }
    
    .imgResera{
      background-position: center;
    }
    
    @keyframes ejectoReserva {
      from {
        margin-top: 100px;
        opacity: 0;
      }
    
      to {
        margin: 10px;
        opacity: 1;
      }
    }

    
}
