<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>DEPILACION DE AXILAS - 50% DE DESCUENTO</title>
  <link rel="icon" href="./img/icon_header_depilcenter.png">



  {{!-- getbotstrap --}}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

  {{!-- css --}}
  <link rel="stylesheet" href="../css/blackFriday.css">
  <link rel="stylesheet" href="../css/main.css">


  {{!-- SEMANTIC UI --}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
    integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>

  <div class="container">
    <div>
      {{> navBlack }}
    </div>
    <div class="title-black-friday">
      BLACK WEEK - 50% DE DESCUENTO
    </div>

    <div class="content-text">
      <h1>
        ¿Axilas oscuras?
      </h1>
      <h6>ELIMINA EL VELLO PARA SIEMPRE MIENTRAS ACLARAS TU PIEL.</h6>
      <p>
        Las axilas pueden oscurecerse por diversos motivos, haciendo que podamos sentirnos incómodos con ciertas prendas
        de vestir que dejan la zona a la vista.

        Algunos de estos motivos están relacionados con el exceso de células muertas en esa área, si el modo habitual de
        depilar tus axilas es la rasuradora o si
        tienes alguna enfermedad relacionada con la diabetes y problemas con las hormonas de la
        insulina, el exceso de este elemento produce su oscurecimiento.
      </p>

      <p>
        Pero no te preocupes, no importa la razón por la que se hayan oscurecido tus axilas, en <b>Depilcenter - Centro
          de depilación</b> tenemos la solución y te mostraremos el proceso que realizamos para lograrlo.
      </p>

      <ol type="1" class="proceso">
        <li>
          <b>
            Depilación con cera tibia ( opcional ).
          </b>
          <br>
          Depilaremos tus axilas antes de tu sesión, esto te permitirá disfrutar de unas axilas libres de vellos desde
          el primer momento, ademas gracias a sus beneficios no volverás a ver vellos hasta tu próxima sesión donde
          repetiremos el proceso.
        </li>
        <li>
          <b>
            Exfoliación.
          </b>
          <br>
          Luego de la depilación exfoliaremos tus axilas para lograr que la piel quede limpia y tonificada antes de tu
          sesión, ademas te ayudara a prevenir el envejecimiento y renovar tu piel gracias a la liberación de toxinas a
          través de los poros de la piel.
        </li>
        <li>
          <b>
            Microdermoabrasión punta de diamante.
          </b>
          <br>
          Este es el ultimo paso antes de tu sesión de depilación definitiva, este proceso te ayudara a reparar tu piel
          mediante el uso de cabezas de diamante donde se aspiran las partículas junto con la suciedad y la piel muerta,
          este procedimiento eliminara restos de la piel, imperfecciones, manchas, arrugas y pigmentación no desea da de
          la piel.
        </li>
        <li>
          <b>
            Sesión de depilación definitiva.
          </b>
          <br>
          Por último, usaremos nuestra tecnología de depilación láser SHR que ademas de eliminar el vello en un 90%
          estimulara el colágeno y la elastina volviendo tu piel más suave y tersa, y pospuesto aclarando y eliminando
          manchas de tus axilas.
        </li>
      </ol>

      <h6>PROMOCIÓN</h6>
      <ul>
        <li> <b> Zona:</b> Axilas</li>
        <li>
          <b>
            Sesiones:
          </b>
          8
        </li>
        <li>
          <b>
            Valor normal:
          </b>
          $160
        </li>
        <li>
          <b>
            Valor total del tratamiento ( -50 OFF ):
          </b>
          $80
        </li>
      </ul>

      <p>
        Ahora que ya sabes el proceso para tener axilas blancas, bellas y suaves, agenda hoy mismo tu cita y ahorra $80
        en tu tratamiento.
      </p>

      <div class="img">
        <img src="./img/black/axilas_1.png" alt="axilas_1">
        <img src="./img/black/axilas_2.png" alt="axilas_2">
        <img src="./img/black/axilas_3.png" alt="axilas_3">
      </div>


      <div class="metodo-pago">
        El pago lo puedes realizar como tú prefieras, ya sea en partes o en un solo, esto nos comentaras en tu
        primera
        visita.
        <br>
        Lo puedes realizar en efectivo, tarjeta o transferencia
        <b>
          hasta el día viernes 26 de noviembre.
        </b>
      </div>

      <div class="ubicacion">
        <b>
          Nuestra ubicación:
        </b>
        <p>
          Estamos ubicados en el sector el condado. Frente al estadio de Liga de Quito.⚽🥅
        </p>
        <span class="google-maps">
          <a href="https://n9.cl/n4ry0" target="_blank">
            <i class="map marker alternate icon"></i>
            EN GOOGLE MAPS
          </a>
        </span>
      </div>


      <div class="box-btn-reservar">
        <button class="btn-agendar-cita">
          <i class="whatsapp icon"></i>
          AGENDAR CITA
        </button>
      </div>

      <div class="dudas">

        <p>Por favor comentanos todas tus dudas
          <a href="https://api.whatsapp.com/send?phone=593984266244&text" target="_blank">AQUI</a>
          , las resolveremos en cuanto antes 🏃‍♀️.
        </p>
      </div>


    </div>

  </div>


  {{!-- bootstrap --}}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>


  <script src="../js/countDown.js"></script>
  <script src="../js/sendMsg.js" type="module"></script>
</body>

</html>