<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
      <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/redesSociales.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/blog.css">
  </head>
  <body>
      {{> navbar }}

      <main class="__blogContenedor">
        <section class="__blogInfoContendro">
          
          <div class="_post1">
            <div>
              <img src="../img/blog/mujer_blogDos.jpg" alt="Mujer joven sonriendo; Depilcenter - Centro de depilacion">
            </div>
            <div>
              <h5><b> Por que no debes rasurarte</b></h5>
            </div>
            <div>
              <ul>
                <li>Aumento del grosor del vello</li>
                <li>Crecimiento acelerado</li>
                <li>Irritación en la piel</li>
                <li>Vellos encarnados</li>
                <liAparición de infecciones></li>
                <li>Daños a la piel</li>
              </ul>
            </div>
          </div>
          
          <div class="_post2">
            <div>
              <img src="../img/blog/_blog2.jpg" alt="">
            </div>
            <div>
              <h5><b> Beneficios de la depilacion con cera</b></h5>
            </div>
            <div>
              <ul>
                <li>Elimina el vello desde la raíz </li>
                <li>Retarda el crecimiento del vello hasta 4 semanas</li>
                <li>Cera 100% natural ayuda a eliminar células muertas como un exfoliante </li>
                <li>Piel suave agradable al tacto gozando de un bonito brillo natura</li>
              </ul>
            </div>
          </div>

          {{!-- <div>
            <div>
              <h5>Receta para exfoliar tu piel</h5>
            </div>
            <div>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa hic repudiandae voluptatem quisquam, suscipit est in ad qui asperiores a rem recusandae temporibus fuga! Illum animi harum consequatur dolorem vel!</p>
            </div>
          </div> --}}

          {{!-- <div>
            <div>
              <h5>Beneficios de la depilacion</h5>
            </div>
            <div>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda neque odio dolorum commodi itaque quidem inventore sed suscipit debitis exercitationem. Magnam architecto cum earum rerum, dolor voluptates similique quos enim.</p>
            </div>
          </div> --}}

          <div>
            <div>
              <h5><b> Cada cuanto tiempo debo depilarme cada zona de mi cuerpo</b></h5>
            </div>
            <div>
              <div>
                <h6><b> Cara: cada 2-3 semanas</b></h6>
                <p>En comparación con el resto del cuerpo, el vello facial es el que más rápido crece.la buena noticia es , cada vez que te depilas en esta zona, el vello se va debilitando.</p>
              </div>
              <div>
                <h6><b> Cejas: cada 2-3 semanas</b></h6>
                <p>Para las cejas, tanto si quieres depilarte con la cera como con el hilo, debes saber que te durarán alrededor de unas 2-3 semanas. Pasado ese tiempo, puedes volver que te las vuelva a retocar y dejar perfectamente definidas</p>
              </div>
              <div>
                <h6><b> Bikini: cada 3 semanas</b></h6>
                <p>El bikini es una de las zonas del cuerpo donde tarda más en salir el pelo. Por eso, desde que te haces puedes esperar hasta 3  semanas para volver a depilarte. </p>
              </div>
              <div>
                <h6><b> Piernas y brazos: cada 3-4 semanas</b></h6>
                <p>El pelo que más tarda en crecer es el de las piernas: alrededor de unas 3-4 semanas – si los quitas con cera, claro- . Para depilarte de nuevo, lo ideal es esperar a que tengan aproximadamente el tamaño de un grano de arroz.</p>
              </div>
              <div>
                <h6><b> Axilas: cada 2 semanas</b></h6>
                <p>La zona de las axilas es otra donde el pelo crece de forma más rápida. Pero cada vez que te depilas con cera irás debilitando más y más el vello. Lo que significa que poco a poco tendrás menos. </p>
              </div>
            </div>
          </div>
                    
        </section>
      </main>
      
      {{> footer }}
       <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
      <script src="../js/blog.js"></script>
  </body>
</html>


