<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
     <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/conocenos.css" />
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/redesSociales.css">
  </head>
  <body>
      {{> navbar }}
      {{> redesSociales }}
        <section class="contenedorQuienesSomos">
          <div class="quienesSomos">
            <img src="../img/fotos-anchas.jpg" alt="Depilacion con cera" >
            <h5>¿Quienes Somos?</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, amet deleniti. Exercitationem nemo, obcaecati similique nobis voluptas velit natus adipisci repudiandae, doloribus ea perspiciatis voluptates dicta non sed, ipsum inventore atque enim rem voluptatibus cum earum architecto! Animi esse quasi doloribus eveniet tenetur dignissimos provident officia mollitia facilis illo laudantium in non temporibus corrupti deserunt quas, blanditiis impedit consequuntur, exercitationem minus, adipisci tempora. Porro optio vel, aliquid ad excepturi modi velit fuga veniam recusandae eos. Quam recusandae doloremque perspiciatis facere illum consequatur sunt, id odit at quasi autem et tenetur debitis iste minus dolore aliquid veniam blanditiis cum consectetur libero.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, amet deleniti. Exercitationem nemo, obcaecati similique nobis voluptas velit natus adipisci repudiandae, doloribus ea perspiciatis voluptates dicta non sed, ipsum inventore atque enim rem voluptatibus cum earum architecto! Animi esse quasi doloribus eveniet tenetur dignissimos provident officia mollitia facilis illo laudantium in non temporibus corrupti deserunt quas, blanditiis impedit consequuntur, exercitationem minus, adipisci tempora. Porro optio vel, aliquid ad excepturi modi velit fuga veniam recusandae eos. Quam recusandae doloremque perspiciatis facere illum consequatur sunt, id odit at quasi autem et tenetur debitis iste minus dolore aliquid veniam blanditiis cum consectetur libero.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, amet deleniti. Exercitationem nemo, obcaecati similique nobis voluptas velit natus adipisci repudiandae, doloribus ea perspiciatis voluptates dicta non sed, ipsum inventore atque enim rem voluptatibus cum earum architecto! Animi esse quasi doloribus eveniet tenetur dignissimos provident officia mollitia facilis illo laudantium in non temporibus corrupti deserunt quas, blanditiis impedit consequuntur, exercitationem minus, adipisci tempora. Porro optio vel, aliquid ad excepturi modi velit fuga veniam recusandae eos. Quam recusandae doloremque perspiciatis facere illum consequatur sunt, id odit at quasi autem et tenetur debitis iste minus dolore aliquid veniam blanditiis cum consectetur libero.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, amet deleniti. Exercitationem nemo, obcaecati similique nobis voluptas velit natus adipisci repudiandae, doloribus ea perspiciatis voluptates dicta non sed, ipsum inventore atque enim rem voluptatibus cum earum architecto! Animi esse quasi doloribus eveniet tenetur dignissimos provident officia mollitia facilis illo laudantium in non temporibus corrupti deserunt quas, blanditiis impedit consequuntur, exercitationem minus, adipisci tempora. Porro optio vel, aliquid ad excepturi modi velit fuga veniam recusandae eos. Quam recusandae doloremque perspiciatis facere illum consequatur sunt, id odit at quasi autem et tenetur debitis iste minus dolore aliquid veniam blanditiis cum consectetur libero.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, amet deleniti. Exercitationem nemo, obcaecati similique nobis voluptas velit natus adipisci repudiandae, doloribus ea perspiciatis voluptates dicta non sed, ipsum inventore atque enim rem voluptatibus cum earum architecto! Animi esse quasi doloribus eveniet tenetur dignissimos provident officia mollitia facilis illo laudantium in non temporibus corrupti deserunt quas, blanditiis impedit consequuntur, exercitationem minus, adipisci tempora. Porro optio vel, aliquid ad excepturi modi velit fuga veniam recusandae eos. Quam recusandae doloremque perspiciatis facere illum consequatur sunt, id odit at quasi autem et tenetur debitis iste minus dolore aliquid veniam blanditiis cum consectetur libero.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, amet deleniti. Exercitationem nemo, obcaecati similique nobis voluptas velit natus adipisci repudiandae, doloribus ea perspiciatis voluptates dicta non sed, ipsum inventore atque enim rem voluptatibus cum earum architecto! Animi esse quasi doloribus eveniet tenetur dignissimos provident officia mollitia facilis illo laudantium in non temporibus corrupti deserunt quas, blanditiis impedit consequuntur, exercitationem minus, adipisci tempora. Porro optio vel, aliquid ad excepturi modi velit fuga veniam recusandae eos. Quam recusandae doloremque perspiciatis facere illum consequatur sunt, id odit at quasi autem et tenetur debitis iste minus dolore aliquid veniam blanditiis cum consectetur libero.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, amet deleniti. Exercitationem nemo, obcaecati similique nobis voluptas velit natus adipisci repudiandae, doloribus ea perspiciatis voluptates dicta non sed, ipsum inventore atque enim rem voluptatibus cum earum architecto! Animi esse quasi doloribus eveniet tenetur dignissimos provident officia mollitia facilis illo laudantium in non temporibus corrupti deserunt quas, blanditiis impedit consequuntur, exercitationem minus, adipisci tempora. Porro optio vel, aliquid ad excepturi modi velit fuga veniam recusandae eos. Quam recusandae doloremque perspiciatis facere illum consequatur sunt, id odit at quasi autem et tenetur debitis iste minus dolore aliquid veniam blanditiis cum consectetur libero.</p>
          </div>
        </section>
      </main>

      {{> footer }}
      
      <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
      <script src="../js/conocenos.js"></script>
  </body>
</html>
