<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>DEPILACION DEFINITIVA - 50% DE DESCUENTO</title>
  <link rel="icon" href="./img/icon_header_depilcenter.png">



  {{!-- getbotstrap --}}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

  {{!-- css --}}
  <link rel="stylesheet" href="../css/blackFriday.css">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/cotizar-navidad.css">


  {{!-- SEMANTIC UI --}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
    integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  {{!-- google fonts - icons --}}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


  {{!-- google analytics --}}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-210365206-1">
  </script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-210365206-1');
  </script>

</head>

<body>
  <div class="container-main">
    <img src="./img/hader_navidad3.png" class="header-navidad" alt="header-navidad">
    <img src="./img/hader_navidad4.png" class="header-navidad-movil" alt="header-navidad-movil">
    <div class="botton-header">
      <a href="https://api.whatsapp.com/send?phone=593984266244&text">MAS INFORMACION
        <i class="arrow circle right icon"></i>
      </a>
    </div>
  </div>

  <div class="second-button">
    <div class="second-button-child">
      <a href="https://g.page/depilcenterecu?share" target="_blank">
        <i class="map marker alternate icon"></i>
        Nuestra ubicación
      </a>

      <p style="display: inline-block; color: #fff; margin: 0;">
        &nbsp&nbsp&nbsp | &nbsp&nbsp&nbsp
      </p>

      <a href="https://www.depilcenter.ec/indicaciones?servicio=d_definitiva" target="_blank">
        <i class="table icon"></i>
        Nuestra tecnología
      </a>
    </div>
  </div>


  <div class="container">
    <div class="title-navidad">
      <h1>
        PRECIOS 🎁
      </h1>
      <p>
        Elige una zona a tratar y envianos un mensaje, resolveremos todas tus dudas en cuanto antes.
      </p>
      <p class="nota">
        💡 Recuerda, puedes cancelar una parte en cada sesión durante el tiempo que dure tu tratamiento hasta completar
        el valor total, esto no tendrá intereses ni ningún cargo adicional. 💳
      </p>
    </div>
    {{> cotizarDepilacionDefinitivaNavidad }}
    <div class="btn-enviar-mensaje">
      <a id="enviar-mensaje-navidad">
        ¡LO QUIERO! ⚡
        <i class=""></i>
      </a>

    </div>

    <div class="footer-navidad">

    </div>

  </div>


  {{!-- bootstrap --}}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>


  <script src="../js/sendMsg.js" type="module"></script>
</body>

</html>