<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
   <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <title>DepilCenter</title>
    <link rel="icon" href="../img/quito.png">
    <meta name="description" content="" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/reservar.css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/normalize.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</body>

<header>
  {{#if error}}
 <div class="ajustarAlert">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>{{error.errOne}}</strong>&nbsp{{error.errTwo}}.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
 </div>
  {{/if}}
   {{> navbar }}
   <div class="logo">
   <img src="../img/logo_blanco.png" width="200px" alt="Logo - Depilcenter">
   </div>
</header>
 <main>
      <section>
            <div class="cajaPrincipal"  >

                  <div class="reservas-caja">
                    
                    <div class="cajaDatos-caja">

                      <div id=tituloDepilPro>
                          <div>
                            <img src="../img/centro de depilacion.png" alt="Centro de depilacion - Servicios">
                          </div>
                          <div class="conCera">
                            <img src="../img/con cera tibia.png"  alt="depilacion con cera">
                          </div>
                        {{!-- <h3>Centro  de <br> depilacion <br></h3><p> <span>con cera tibia 100% natural.</span> </p> --}}
                      </div>
                      
                        <div id="linkAgendar" >
                          
                        <a class="agendarCita">AGENDAR CITA</a>
                        <a class="conocenos" >CONÓCENOS</a>
                        </div>
                        
                    </div>

                  </div>
                  
                   <div class="background-mujer">
                      <img src="../img/fondo2.png" alt="">
                  </div> 


            </div>
      </section>
      <section  class="reservarHBS" id="reservarHBS">

        <div class="divReservaGrid">
          <form  id="registrarReserva"  method="POST">
              
              <div  class="reservarBox">
              {{>  reservar }}
              </div>

          </form>
        </div>

        <div class="infoIndex">

            <div class="horariosContactos">
              
                <div class="atencion">
                    <h5>Horarios de atencion</h5>
                    <p>Lunes - Viernes : 09:00 a 18:00</p>
                    <p>Sabados : 09:00 a 17:00</p>
                </div>
                <div class="contactosInfo">
                    <h5>Contactos</h5>
                    <p>098 426 6244</p>
                    <p>depilcenter2021@gmail.com</p>
                </div>
                
            </div>
            
            <div class="maps">
              {{!-- <h5>Nuestra Ubicacion</h5> --}}
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.8111976580185!2d-78.49364198466434!3d-0.10826373550738715!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d58547be677289%3A0xfd29f56d2e4586c!2sDepilcenter%20-%20Centro%20de%20depilaci%C3%B3n!5e0!3m2!1ses-419!2sec!4v1613866208499!5m2!1ses-419!2sec" width="100%" height="100%" style="border:5;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            
        </div>
          {{!-- <div class="planta">
          <img src="../img/planta-02.png" alt="">
          </div> --}}


        <div class="boxFooter" id="boxFooter">
                  {{> footer }}
        </div>
      </section>

    </main>
    
 
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
    <script src="socket.io/socket.io.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/calcularTamanoPantalla.js"></script>
  </body>
</html>
