<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
   <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <title>DepilCenter</title>
    <link rel="icon" href="../img/quito.png">
    <meta name="description" content="" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/responsive/mainResponsive.css">
    <link rel="stylesheet" href="../css/footer.css" />
    <link rel="stylesheet" href="../css/redesSociales.css">
    <link rel="stylesheet" href="../css/icons.css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght;" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
</head>
<body class="body" >
  
  <header>
    {{!-- ERRORES --}}
    {{#if error}}
  <div class="ajustarAlert">
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>{{error.errOne}}</strong>&nbsp{{error.errTwo}}.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  </div>
    {{/if}}
  </header>


  <div class="logo">
    <img src="../img/Depilcenter-logo.svg"  alt="Logo - Depilcenter - Centro de depilacion">
  </div>
    {{> navbar }}
    {{> redesSociales }}


  <main>

        <section class="cajaPrincipal">

                    <div class="reservas-caja">
                        <div class="datosMain">
                          <h1>Centro de depilación.</h1>
                          <h2>Por que que lo bueno #NoTieneQueSerCaro.</h2>
                        </div>
                        <div class="linkAgendar" >
                          <a class="agendarCita">AGENDAR CITA</a>
                          <a class="conocenos" >CONÓCENOS</a>
                        </div>
                    </div>
                    
                      {{!-- <span class="material-icons">
                        keyboard_arrow_down
                      </span> --}}
        </section>
        
    </main>

      <section class="__cumpleaniosContainer">

        <div>
          <h5>¡Happy birthday!</h5>
          <h6>POR TU CUMPLEAÑOS RESCIBE EL 25% DE DESCUENTO EN TODOS NUESTROS COMBOS <a href="#">AGENDAR CITA</a> </h6>
          <p>Cumpleañeros de Marzo</p>
        </div>

        
        <div class="__cumpleaniosContainerChild">

          <div>
            <img src="../img/icons/icons-depilation-01.png" width="80" alt="">
            <p>Alejo Alava</p>
            <p>15-15-2021</p>
          </div>

          <div>
            <img src="../img/icons/icons-depilation-01.png" width="80" alt="">
            <p>Alejo Alava</p>
            <p>15-15-2021</p>
          </div>

          <div>
            <img src="../img/icons/icons-depilation-01.png" width="80" alt="">
            <p>Alejo Alava</p>
            <p>15-15-2021</p>
          </div>

          <div>
            <img src="../img/icons/icons-depilation-01.png" width="80" alt="">
            <p>Alejo Alava</p>
            <p>15-15-2021</p>
          </div>

          <div>
            <img src="../img/icons/icons-depilation-01.png" width="80" alt="">
            <p>Alejo Alava</p>
            <p>15-15-2021</p>
          </div>
          
          <div>
            <img src="../img/icons/icons-depilation-01.png" width="80" alt="">
            <p>Alejo Alava</p>
            <p>15-15-2021</p>
          </div>

          <div>
            <img src="../img/icons/icons-depilation-01.png" width="80" alt="">
            <p>Alejo Alava</p>
            <p>15-15-2021</p>
          </div>

          <div>
            <img src="../img/icons/icons-depilation-01.png" width="80" alt="">
            <p>Alejo Alava</p>
            <p>15-15-2021</p>
          </div>
          
          <div>
            <img src="../img/icons/icons-depilation-01.png" width="80" alt="">
            <p>Alejo Alava</p>
            <p>15-15-2021</p>
          </div>

          <div>
            <img src="../img/icons/icons-depilation-01.png" width="80" alt="">
            <p>Alejo Alava</p>
            <p>15-15-2021</p>
          </div>

          <div>
            <img src="../img/icons/icons-depilation-01.png" width="80" alt="">
            <p>Alejo Alava</p>
            <p>15-15-2021</p>
          </div>

         

          <div>
            <img src="../img/icons/icons-depilation-01.png" width="80" alt="">
            <p>Alejo Alava</p>
            <p>15-15-2021</p>
          </div>

          <div>
            <img src="../img/icons/icons-depilation-01.png" width="80" alt="">
            <p>Alejo Alava</p>
            <p>15-15-2021</p>
          </div>
          
          <div>
            <img src="../img/icons/icons-depilation-01.png" width="80" alt="">
            <p>Alejo Alava</p>
            <p>15-15-2021</p>
          </div>

           <div>
            <img src="../img/icons/icons-depilation-01.png" width="80" alt="">
            <p>Alejo Alava</p>
            <p>15-15-2021</p>
          </div>


           <div>
            <img src="../img/icons/icons-depilation-01.png" width="80" alt="">
            <p>Alejo Alava</p>
            <p>15-15-2021</p>
          </div>


           <div>
            <img src="../img/icons/icons-depilation-01.png" width="80" alt="">
            <p>Alejo Alava</p>
            <p>15-15-2021</p>
          </div>


           <div>
            <img src="../img/icons/icons-depilation-01.png" width="80" alt="">
            <p>Alejo Alava</p>
            <p>15-15-2021</p>
          </div>


           <div>
            <img src="../img/icons/icons-depilation-01.png" width="80" alt="">
            <p>Alejo Alava</p>
            <p>15-15-2021</p>
          </div>


           <div>
            <img src="../img/icons/icons-depilation-01.png" width="80" alt="">
            <p>Alejo Alava</p>
            <p>15-15-2021</p>
          </div>

           <div>
            <img src="../img/icons/icons-depilation-01.png" width="80" alt="">
            <p>Alejo Alava</p>
            <p>15-15-2021</p>
          </div>

           <div>
            <img src="../img/icons/icons-depilation-01.png" width="80" alt="">
            <p>Alejo Alava</p>
            <p>15-15-2021</p>
          </div>

           <div>
            <img src="../img/icons/icons-depilation-01.png" width="80" alt="">
            <p>Alejo Alava</p>
            <p>15-15-2021</p>
          </div>

           <div>
            <img src="../img/icons/icons-depilation-01.png" width="80" alt="">
            <p>Alejo Alava</p>
            <p>15-15-2021</p>
          </div>

           <div>
            <img src="../img/icons/icons-depilation-01.png" width="80" alt="">
            <p>Alejo Alava</p>
            <p>15-15-2021</p>
          </div>
          
        </div>
        
      
        
      </section>
    
      <section class="background">

            <section  class="reservarHBS" id="reservarHBS">

              <div class="divReservaGrid efectoReservar">

                {{>  reservar }}

                {{> informacionReserva}}


                <div class="imgResera">
                  <h1>whaaaaaa</h1>
                  {{!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At dolor quo animi odio voluptate repudiandae qui, distinctio maxime quasi! Id alias unde sunt odit veniam. Consequatur magni debitis explicabo accusantium.</p> --}}
                </div>
                
              </div>
              
            </section>
            
            
            <section class="__contendorBeneficiosDepilacionCera">


                    <div>
                      <h2>Beneficios de la depilación con cera</h2>
                    </div>
                    <div>
                      <img src="../img/icons/icons-depilation-01.png" alt="">
                      <p>• El efecto es hasta 10 veces más largo que el afeitado. </p>
                    </div>
                    <div>
                      <img src="../img/icons/icons-depilation-01.png" alt="">
                      <p>• El enrojecimiento desaparece en 1-2 horas. </p>
                    </div>
                    <div>
                      <img src="../img/icons/icons-depilation-01.png" alt="">
                      <p>• Después de la depilación, el vello se debilita, se vuelve más delgado e invisible. </p>
                    </div>
                    <div>
                      <img src="../img/icons/icons-depilation-01.png" alt="">
                      <p>• Con la depilación, se produce un peeling suave de la piel.</p>
                    </div>

                    <div>
                      <p>La cera que utilizamos eta hecha con mieles naturales La cera que utilizamos eta hecha con mieles naturales La cera que utilizamos eta hecha con mieles naturales</p>
                    </div>
              
            </section>

            <section>
              <div>Locales</div>
            </section>

            <section>
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                  <div class="nameOpiones">
                    <h5>OPINIONES</h5>
                  </div>
                  <div class="carousel-inner">

                    <div class="carousel-item active" data-bs-interval="5000">
                      
                       <p>La atención es bastante amable, hacen un muy bien trabajo y en poco tiempo. Me encanta! 💚💚💚</p>

                    </div>
                    
                    <div class="carousel-item" data-bs-interval="5000">

                        <p>Fui ganadora de un concurso y la atención fue excelente, muy profesional. El concurso fue para una depilación gratis. Completamente real. 🥰🥰🥰 El proceso fue rápido, amigable, y muy efectivo. Muy recomendado. 💜</p>
                      
                    </div>
                    
                    <div class="carousel-item" data-bs-interval="5000">

                        <p>el lugar muy bonito !Excelente servicio! muy amables y delicados al momento de trabajar .</p>
                      
                    </div>
                    
                  </div>
                </div>
            </section>

            {{!-- <section class="iconsContenedor">



              <div class="iconsImg-info" >

                <div class="iconsImg">
                      <div class="tituloIcons">
                          <img src="../img/depilacion-con-cera-09.png" alt="" >
                      </div>

                      <div class="icon1">
                        <img src="../img/icons/icons-depilation-01.png " alt="Depilacion, paso uno">
                        <h6>Paso 1</h6>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias sunt provident assumenda beatae id officiis similique impedit itaque eum eius temporibus neque corrupti molestiae, labore atque, modi voluptatum ducimus magnam.</p>
                      </div>

                      <div class="icon3">
                        <img src="../img/icons/icons-depilation-03.png" alt="Depilacion, paso tres">
                        <h6>Paso 2</h6>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias sunt provident assumenda beatae id officiis similique impedit itaque eum eius temporibus neque corrupti molestiae, labore atque, modi voluptatum ducimus magnam.</p>
                      </div>

                      <div class="icon4">
                        <img src="../img/icons/icons-depilation-04.png" alt="Depilacion, paso cuatro">
                        <h6>Paso 3</h6>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias sunt provident assumenda beatae id officiis similique impedit itaque eum eius temporibus neque corrupti molestiae, labore atque, modi voluptatum ducimus magnam.</p>
                      </div>

                      <div class="icon5">
                        <img src="../img/icons/icons-depilation-05.png" alt="Depilacion, paso cinco">
                        <h6>Paso 4</h6>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias sunt provident assumenda beatae id officiis similique impedit itaque eum eius temporibus neque corrupti molestiae, labore atque, modi voluptatum ducimus magnam.</p>
                      </div>

                      <div class="icon6">
                        <img src="../img/icons/icons-depilation-06.png" alt="Depilacion, paso seis">
                        <h6>Paso 5</h6>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias sunt provident assumenda beatae id officiis similique impedit itaque eum eius temporibus neque corrupti molestiae, labore atque, modi voluptatum ducimus magnam.</p>
                      </div>

                      <div class="icon7">
                        <img src="../img/icons/icons-depilation-07.png" alt="Depilacion, paso siete">
                        <h6>Paso 5</h6>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias sunt provident assumenda beatae id officiis similique impedit itaque eum eius temporibus neque corrupti molestiae, labore atque, modi voluptatum ducimus magnam.</p>
                      </div>

                      <div class="icon8">
                        <img src="../img/icons/icons-depilation-08.png" alt="Depilacion, paso ocho">
                        <h6>Paso 6</h6>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias sunt provident assumenda beatae id officiis similique impedit itaque eum eius temporibus neque corrupti molestiae, labore atque, modi voluptatum ducimus magnam.</p>
                      </div>
                </div>


                <div class="ceraInfo">
                  <div class="infoCeraInfo">
                    <h6>Cera</h6>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae odit mollitia sit, in commodi nulla, porro recusandae placeat hic aspernatur officia, pariatur possimus natus veritatis iure accusantium facere velit laudantium!</p>
                  </div>
                  <div class="botonesCeraInfo">
                    <a href="/conocenos" class="pedro">Conócenos</a>
                    <a href="/cotizar-combos/mujer">Cotizar</a>
                    <a href="/conocenos">Productos</a>
                  </div>
                </div>

              </div>

            </section> --}}
            
      </section>


       {{> footer }}

      <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"
      ></script>
      <script src="socket.io/socket.io.js"></script>
      <script src="../js/main.js"></script>
      <script src="../js/calcularTamanoPantalla.js"></script>
</body>
</html>
