<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DepilCenter</title>
  <script src="../libs/jquery.js"></script>

  {{!-- getbotstrap --}}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

  <meta name="description" content="" />

  {{!-- css --}}
  <link rel="stylesheet" href="../css/navbar.css">
  <link rel="stylesheet" href="../css/main.css" />
  <link rel="stylesheet" href="../css/responsive/mainResponsive.css">
  <link rel="stylesheet" href="../css/footer.css" />
  <link rel="stylesheet" href="../css/redesSociales.css">
  <link rel="stylesheet" href="../css/carousel.css">
  <link rel="stylesheet" href="../css/cumpleanieros.css">
  <link rel="stylesheet" href="../css/reserva.css">


  {{!-- datePicker --}}
  <script src="../libs/datePicker/js/bootstrap-datepicker.js" charset="UTF-8"></script>
  <link rel="stylesheet" href="../libs//datePicker/css/bootstrap-datepicker.css">

  {{!-- google icons --}}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  {{!-- google fonts --}}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Commissioner:wght@500&display=swap" rel="stylesheet">

  {{!-- SEMANTIC UI --}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
    integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"
    integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>



</head>

<body>

  {{#if error}}
  <div class="ajustarAlert">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>{{error.errOne}}</strong>&nbsp{{error.errTwo}}.
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
  {{/if}}

  {{#if recaptcha}}
  <div class="ajustarAlert">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>{{recaptcha}}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
  {{/if}}



  <section>
    {{!-- Este seccion encierra a toooodo el contenido es unicamente para que el navbar se desplase hasta llegar abajo
    --}}
    {{> navContacts }}
    {{> navbar }}

    <section class="cajaPrincipal">
      {{> carousel }}
    </section>

    {{> cumpleanieros }}

    {{> reservar }}


    <section class="__quienesSomosImg">
      <div class="backgroundImg">
        <div class="colorBackgroundImg">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus placeat voluptatem optio perferendis
            debitis sint ad possimus! Excepturi, architecto. Asperiores quidem consequatur enim dolor porro nemo
            cupiditate vel dolorem quod.</p>
        </div>
        <div class="helpClass"></div>
      </div>
    </section>

    <section class="background">
      <section class="__serviciosContainer">

        <div style="margin: 0 0 13px 0; text-align:center; font-family: 'Pacifico', cursive">
          <h3 style="margin: 0;">••••••••• Servicios •••••••••</h3>
        </div>

        {{!-- arrogs back - fowar --}}
        <div class="back-back">
          <span class="material-icons">arrow_forward_ios</span>
        </div>
        <div class="back-forward">
          <span class="material-icons">arrow_forward_ios</span>
        </div>
        {{!-- arrogs back - fowar --}}


        <div class="__serviciosContainerCenter">
          <div class="cardServicio">

            <div class="imgServicio">
              <img src="../img/servicios/servicio_waxing.png" alt="Depilacion con cera">
              <div class="nameOff">
                <div class="celesteServicioH6">
                  <h6>50% OFF</h6>
                </div>
                <div>
                  <h3>Depilaciòn con cera</h3>
                </div>
              </div>
            </div>


            <div class="datosCardContainer">
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis totam eum porro perspiciatis velit
                ipsam laborum nulla consequatur aliquid, accusamus architecto nam ut molestiae voluptates placeat
                quisquam
                hic aliquam error.
              </p>

            </div>

            <div class="botonesServicios celesteServicio">
              <div>
                <a class="cotizarButtonCelesteCotizar">Cotizar</a>
              </div>
              <div>
                <a class="agendarButtonCelesteCotizar" id="agendarDepilacionCera">Agendar Cita</a>
              </div>
            </div>

          </div>

          <div class="cardServicio">

            <div class="imgServicio">
              <img src="../img/servicios/servicio_lasaer.png" alt="Depilacion con cera">
              <div class="nameOff">
                <div class="amarilloServicioH6">
                  <h6>SERVICIO SABADO Y DOMINGO</h6>
                </div>
                <div>
                  <h3>Depilaciòn laser</h3>
                </div>
              </div>
            </div>


            <div class="datosCardContainer">
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis totam eum porro perspiciatis velit
                ipsam laborum nulla consequatur aliquid, accusamus architecto nam ut molestiae voluptates placeat
                quisquam
                hic aliquam error.
              </p>

            </div>

            <div class="botonesServicios amarilloServicio">
              <div>
                <a class="cotizarButtonCelesteCotizar">Cotizar</a>
              </div>
              <div>
                <a class="agendarButtonAmarilloCotizar" id="agendarDepilacionLaser">Agendar Cita</a>
              </div>
            </div>

          </div>
          <div class="cardServicio">

            <div class="imgServicio">
              <img src="../img/servicios/servicio_limpiezas_faciales.png" alt="Depilacion con cera">
              <div class="nameOff">
                <div class="rojoServicioH6">
                  <h6>SERVICIO SABADO Y DOMINGO</h6>
                </div>
                <div>
                  <h3>Limpiezas faciales</h3>
                </div>
              </div>
            </div>


            <div class="datosCardContainer">
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis totam eum porro perspiciatis velit
                ipsam laborum nulla consequatur aliquid, accusamus architecto nam ut molestiae voluptates placeat
                quisquam
                hic aliquam error.
              </p>

            </div>

            <div class="botonesServicios rojoServicio">
              <div>
                <a class="cotizarButtonCelesteCotizar">Cotizar</a>
              </div>
              <div>
                <a class="agendarButtonRojoCotizar" id="agendarFacial">Agendar Cita</a>
              </div>
            </div>

          </div>
          <div class="cardServicio">

            <div class="imgServicio">
              <img src="../img/servicios/servicio_masajes.png" alt="Depilacion con cera">
              <div class="nameOff">
                <div class="celesteServicioH6">
                  <h6>SERVICIO SABADO Y DOMINGO</h6>
                </div>
                <div>
                  <h3>Masajes relajantes</h3>
                </div>
              </div>
            </div>


            <div class="datosCardContainer">
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis totam eum porro perspiciatis velit
                ipsam laborum nulla consequatur aliquid, accusamus architecto nam ut molestiae voluptates placeat
                quisquam
                hic aliquam error.
              </p>

            </div>

            <div class="botonesServicios celesteServicio">
              <div>
                <a class="cotizarButtonCelesteCotizar">Cotizar</a>
              </div>
              <div>
                <a class="agendarButtonCelesteCotizar" id="agendarMasajes">Agendar Cita</a>
              </div>
            </div>

          </div>
          <div class="cardServicio">

            <div class="imgServicio">
              <img src="../img/servicios/servicio_acne.png" alt="Depilacion con cera">
              <div class="nameOff">
                <div class="amarilloServicioH6">
                  <h6>SERVICIO SABADO Y DOMINGO</h6>
                </div>
                <div>
                  <h3>Tratamiento de acne</h3>
                </div>
              </div>
            </div>


            <div class="datosCardContainer">
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis totam eum porro perspiciatis velit
                ipsam laborum nulla consequatur aliquid, accusamus architecto nam ut molestiae voluptates placeat
                quisquam
                hic aliquam error.
              </p>

            </div>

            <div class="botonesServicios amarilloServicio">
              <div>
                <a class="cotizarButtonCelesteCotizar">Cotizar</a>
              </div>
              <div>
                <a class="agendarButtonAmarilloCotizar" id="agendarAcne">Agendar Cita</a>
              </div>
            </div>

          </div>
          <div class="cardServicio">

            <div class="imgServicio">
              <img src="../img/servicios/servicio_gluteos.png" alt="Depilacion con cera">
              <div class="nameOff">
                <div class="rojoServicioH6">
                  <h6>SERVICIO SABADO Y DOMINGO</h6>
                </div>
                <div>
                  <h3>Gluteos</h3>
                </div>
              </div>
            </div>


            <div class="datosCardContainer">
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis totam eum porro perspiciatis velit
                ipsam laborum nulla consequatur aliquid, accusamus architecto nam ut molestiae voluptates placeat
                quisquam
                hic aliquam error.
              </p>

            </div>

            <div class="botonesServicios rojoServicio">
              <div>
                <a class="cotizarButtonCelesteCotizar">Cotizar</a>
              </div>
              <div>
                <a class="agendarButtonRojoCotizar" id="agendarGluteos">Agendar Cita</a>
              </div>
            </div>

          </div>


        </div>


      </section>




      <section class="__ubicacionIndexContainer">

        <div class="_ubicacionIndexContainerLocales">
          <div>
            <h5>Locales</h5>
          </div>
          <select name="ubicacionLocales" id="">
            <option value="quito" selected>Quito</option>
          </select>
        </div>

        <div class="_ubicacionIndexContainerChild">

          <div>
            <div class="ubicacionIndexUbicacion">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.8111976580185!2d-78.49364198466434!3d-0.10826373550738715!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d58547be677289%3A0xfd29f56d2e4586c!2sDepilcenter%20-%20Centro%20de%20depilaci%C3%B3n!5e0!3m2!1ses-419!2sec!4v1613866208499!5m2!1ses-419!2sec"
                width="100%" height="100%" style="border:5;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <div>
              <p><b>Quito - Ecuador</b> <br>Sector el condado en edificio Praga, frente al estadio de Liga de Quito.
                <br>
                Horario : 09:00 - 18:00
              </p>
            </div>
          </div>

          <div>
            <div class="ubicacionIndexUbicacion">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.8111976580185!2d-78.49364198466434!3d-0.10826373550738715!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d58547be677289%3A0xfd29f56d2e4586c!2sDepilcenter%20-%20Centro%20de%20depilaci%C3%B3n!5e0!3m2!1ses-419!2sec!4v1613866208499!5m2!1ses-419!2sec"
                width="100%" height="100%" style="border:5;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <div>
              <p><b>Quito - Ecuador</b> <br>Sector el condado en edificio Praga, frente al estadio de Liga de Quito.
                <br>
                Horario : 09:00 - 18:00
              </p>
            </div>
          </div>

          <div>
            <div class="ubicacionIndexUbicacion">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.8111976580185!2d-78.49364198466434!3d-0.10826373550738715!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d58547be677289%3A0xfd29f56d2e4586c!2sDepilcenter%20-%20Centro%20de%20depilaci%C3%B3n!5e0!3m2!1ses-419!2sec!4v1613866208499!5m2!1ses-419!2sec"
                width="100%" height="100%" style="border:5;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <div>
              <p><b>Quito - Ecuador</b> <br>Sector el condado en edificio Praga, frente al estadio de Liga de Quito.
                <br>
                Horario : 09:00 - 18:00
              </p>
            </div>
          </div>

        </div>

        <div class="_imgLocalIndex">
          <div>
            <img src="../img/conocenos/quienes-somos.jpg" width="250" alt="">
          </div>
          <div>
            <img src="../img/conocenos/quienes-somos.jpg" width="250" alt="">
          </div>
          <div>
            <img src="../img/conocenos/quienes-somos.jpg" width="250" alt="">
          </div>
          <div>
            <img src="../img/conocenos/quienes-somos.jpg" width="250" alt="">
          </div>
          <div>
            <img src="../img/conocenos/quienes-somos.jpg" width="250" alt="">
          </div>
          <div>
            <img src="../img/conocenos/quienes-somos.jpg" width="250" alt="">
          </div>
          <div>
            <img src="../img/conocenos/quienes-somos.jpg" width="250" alt="">
          </div>
          <div>
            <img src="../img/conocenos/quienes-somos.jpg" width="250" alt="">
          </div>
        </div>

      </section>


      <section>
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
          <div class="nameOpiones">
            <h5>OPINIONES</h5>
          </div>
          <div class="carousel-inner">

            <div class="carousel-item active" data-bs-interval="3000">

              <p>La atención es bastante amable, hacen un muy bien trabajo y en poco tiempo. Me encanta! 💚💚💚</p>

            </div>

            <div class="carousel-item" data-bs-interval="5000">

              <p>Fui ganadora de un concurso y la atención fue excelente, muy profesional. El concurso fue para una
                depilación gratis. Completamente real. 🥰🥰🥰 El proceso fue rápido, amigable, y muy efectivo. Muy
                recomendado. 💜</p>

            </div>

            <div class="carousel-item" data-bs-interval="5000">

              <p>el lugar muy bonito !Excelente servicio! muy amables y delicados al momento de trabajar .</p>

            </div>

          </div>
        </div>
      </section>


    </section>


    {{> footer }}

  </section>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
  <script src="socket.io/socket.io.js"></script>
  <script src="../js/main.js" type="module"></script>
  <script src="../js/datePicker.js" type="module"></script>
  <script src="../js/calcularTamanoPantalla.js"></script>
  <script src="../js/borderBottonNav.js"></script>

</body>

</html>