<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Depilcenter - Centro de depialción</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="../img/icon_header_depilcenter.png">

  {{!-- SEO --}}
  <meta name="description" content="" />

  {{!-- getbotstrap --}}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

  {{!-- css --}}
  <link rel="stylesheet" href="../css/navbar.css">
  <link rel="stylesheet" href="../css/main.css" />
  <link rel="stylesheet" href="../css/responsive/mainResponsive.css">
  <link rel="stylesheet" href="../css/footer.css" />
  <link rel="stylesheet" href="../css/redesSociales.css">
  <link rel="stylesheet" href="../css/carousel.css">
  <link rel="stylesheet" href="../css/cumpleanieros.css">
  <link rel="stylesheet" href="../css/reserva.css">
  <link rel="stylesheet" href="../css/novedades.css">
  <link rel="stylesheet" href="../css/todosLosServicios.css">
  <link rel="stylesheet" href="../css/opiniones.css">
  <link rel="stylesheet" href="../css/overView.css">


  {{!-- jQuery ( Lo usa datePicket ) --}}
  <script src="../libs/jquery.js"></script>

  {{!-- datePicker --}}
  <script src="../libs/datePicker/js/bootstrap-datepicker.js" charset="UTF-8"></script>
  <link rel="stylesheet" href="../libs/datePicker/css/bootstrap-datepicker.css">

  {{!-- google icons --}}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  {{!-- google fonts --}}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Commissioner:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

  {{!-- SEMANTIC UI --}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
    integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"
    integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  {{!-- Animate.css --}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />


</head>

<body>

  {{> overView }}

  <section class="container-master">
    {{!-- Este seccion encierra a toooodo el contenido es unicamente para que el navbar se desplase hasta llegar abajo
    --}}

    {{> navbar }}

    <section class="cajaPrincipal">
      {{> carousel }}
    </section>

    {{> cumpleanieros }}

    {{> reservar }}


    {{> novedades }}

    {{> todosLosServicios }}

    {{> opiniones }}


    {{> footer }}

  </section>

  {{!-- bootstrap --}}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>

  {{!-- js --}}
  <script src="../js/main.js" type="module"></script>
  <script src="../js/datePicker.js" type="module"></script>
  <script src="../js/calcularTamanoPantalla.js"></script>
  <script src="../js/borderBottonNav.js"></script>
  <script src="../js/countDown.js"></script>

  {{!-- FB --}}
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v12.0"
    nonce="v4Ow3Lsu"></script>

</body>

</html>