<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>

  {{!-- bootstrap --}}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />


  {{!-- css --}}
  <link rel="stylesheet" href="../css/main.css" />
  <link rel="stylesheet" href="../css/indicaciones.css" />
  <link rel="stylesheet" href="../css/footer.css">
  <link rel="stylesheet" href="../css/redesSociales.css">
  <link rel="stylesheet" href="../css/navbar.css">


  {{!-- google fonts --}}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Commissioner:wght@500&display=swap" rel="stylesheet">

  {{!-- SEMANTIC UI --}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
    integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"
    integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>


</head>

<body>
  {{> navbar }}


  <section class="container my-5 rounded" style="background-color: #fff;">
    <div class="row p-4">
      <div class="col-12 p-4">
        <h4>DEPILACIÓN CON CERA</h4>
      </div>
      <div class="col-12">
        <div class="row">
          <div class="col-lg-10 p-0 px-4 pt-1  ">
            <div class="my-4">
              <p>
                <b>• Indicaciones</b>
              </p>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio, accusamus non hic quis libero modi sunt
                maxime earum minima maiores molestias nam ullam, illo placeat fugiat, nulla soluta ipsa eaque asperiores
                velit pariatur nemo qui corrupti expedita. Beatae perspiciatis, tempore, similique praesentium sed,
                minus
                iste fuga ratione harum expedita minima?
              </p>
            </div>
            <div class="my-4">
              <p>
                <b>• Indicaciones</b>
              </p>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio, accusamus non hic quis libero modi sunt
                maxime earum minima maiores molestias nam ullam, illo placeat fugiat, nulla soluta ipsa eaque asperiores
                velit pariatur nemo qui corrupti expedita. Beatae perspiciatis, tempore, similique praesentium sed,
                minus
                iste fuga ratione harum expedita minima?
              </p>
            </div>
            <div class="my-4">
              <p>
                <b>• Indicaciones</b>
              </p>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio, accusamus non hic quis libero modi sunt
                maxime earum minima maiores molestias nam ullam, illo placeat fugiat, nulla soluta ipsa eaque asperiores
                velit pariatur nemo qui corrupti expedita. Beatae perspiciatis, tempore, similique praesentium sed,
                minus
                iste fuga ratione harum expedita minima?
              </p>
            </div>
          </div>
          <div class="col-lg-2 p-2 ">
            <div>
              <div class="mb-4" style="box-shadow: var(--sombra);">
                <img class="rounded mx-auto d-block" width="100%"
                  src="https://t1.uc.ltmcdn.com/images/9/2/3/img_como_depilarse_las_piernas_con_cera_25329_600.jpg"
                  alt="">
              </div>
              <div class="mb-4" style="box-shadow: var(--sombra);">
                <img class="rounded mx-auto d-block" width="100%"
                  src="https://t1.uc.ltmcdn.com/images/9/2/3/img_como_depilarse_las_piernas_con_cera_25329_600.jpg"
                  alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <a class="btn" style="border:2px solid var(--base); color: var(--base); box-shadow: var(--sombra)"
          href="#">Cotizar | Agendar</a>
      </div>
    </div>
  </section>


  <section class="container mt-5 mb-5 rounded" style="background-color: #fff;">
    <div class="row p-4">
      <div class="col-12 p-4">
        <h4>DEPILACIÓN CON CERA</h4>
      </div>
      <div class="col-12">
        <div class="row">
          <div class="col-lg-10 p-0 px-4 pt-1  ">
            <div class="my-4">
              <p>
                <b>• Indicaciones</b>
              </p>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio, accusamus non hic quis libero modi sunt
                maxime earum minima maiores molestias nam ullam, illo placeat fugiat, nulla soluta ipsa eaque asperiores
                velit pariatur nemo qui corrupti expedita. Beatae perspiciatis, tempore, similique praesentium sed,
                minus
                iste fuga ratione harum expedita minima?
              </p>
            </div>
            <div class="my-4">
              <p>
                <b>• Indicaciones</b>
              </p>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio, accusamus non hic quis libero modi sunt
                maxime earum minima maiores molestias nam ullam, illo placeat fugiat, nulla soluta ipsa eaque asperiores
                velit pariatur nemo qui corrupti expedita. Beatae perspiciatis, tempore, similique praesentium sed,
                minus
                iste fuga ratione harum expedita minima?
              </p>
            </div>
            <div class="my-4">
              <p>
                <b>• Indicaciones</b>
              </p>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio, accusamus non hic quis libero modi sunt
                maxime earum minima maiores molestias nam ullam, illo placeat fugiat, nulla soluta ipsa eaque asperiores
                velit pariatur nemo qui corrupti expedita. Beatae perspiciatis, tempore, similique praesentium sed,
                minus
                iste fuga ratione harum expedita minima?
              </p>
            </div>
          </div>
          <div class="col-lg-2 p-2 ">
            <div>
              <div class="mb-4" style="box-shadow: var(--sombra);">
                <img class="rounded mx-auto d-block" width="100%"
                  src="https://t1.uc.ltmcdn.com/images/9/2/3/img_como_depilarse_las_piernas_con_cera_25329_600.jpg"
                  alt="">
              </div>
              <div class="mb-4" style="box-shadow: var(--sombra);">
                <img class="rounded mx-auto d-block" width="100%"
                  src="https://t1.uc.ltmcdn.com/images/9/2/3/img_como_depilarse_las_piernas_con_cera_25329_600.jpg"
                  alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <a class="btn" style="border:2px solid var(--base); color: var(--base); box-shadow: var(--sombra)"
          href="#">Cotizar | Agendar</a>
      </div>
    </div>
  </section>


  <section class="container mt-5 mb-5 rounded" style="background-color: #fff;">
    <div class="row p-4">
      <div class="col-12 p-4">
        <h4>DEPILACIÓN CON CERA</h4>
      </div>
      <div class="col-12">
        <div class="row">
          <div class="col-lg-10 p-0 px-4 pt-1  ">
            <div class="my-4">
              <p>
                <b>• Indicaciones</b>
              </p>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio, accusamus non hic quis libero modi sunt
                maxime earum minima maiores molestias nam ullam, illo placeat fugiat, nulla soluta ipsa eaque asperiores
                velit pariatur nemo qui corrupti expedita. Beatae perspiciatis, tempore, similique praesentium sed,
                minus
                iste fuga ratione harum expedita minima?
              </p>
            </div>
            <div class="my-4">
              <p>
                <b>• Indicaciones</b>
              </p>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio, accusamus non hic quis libero modi sunt
                maxime earum minima maiores molestias nam ullam, illo placeat fugiat, nulla soluta ipsa eaque asperiores
                velit pariatur nemo qui corrupti expedita. Beatae perspiciatis, tempore, similique praesentium sed,
                minus
                iste fuga ratione harum expedita minima?
              </p>
            </div>
            <div class="my-4">
              <p>
                <b>• Indicaciones</b>
              </p>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio, accusamus non hic quis libero modi sunt
                maxime earum minima maiores molestias nam ullam, illo placeat fugiat, nulla soluta ipsa eaque asperiores
                velit pariatur nemo qui corrupti expedita. Beatae perspiciatis, tempore, similique praesentium sed,
                minus
                iste fuga ratione harum expedita minima?
              </p>
            </div>
          </div>
          <div class="col-lg-2 p-2 ">
            <div>
              <div class="mb-4" style="box-shadow: var(--sombra);">
                <img class="rounded mx-auto d-block" width="100%"
                  src="https://t1.uc.ltmcdn.com/images/9/2/3/img_como_depilarse_las_piernas_con_cera_25329_600.jpg"
                  alt="">
              </div>
              <div class="mb-4" style="box-shadow: var(--sombra);">
                <img class="rounded mx-auto d-block" width="100%"
                  src="https://t1.uc.ltmcdn.com/images/9/2/3/img_como_depilarse_las_piernas_con_cera_25329_600.jpg"
                  alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <a class="btn" style="border:2px solid var(--base); color: var(--base); box-shadow: var(--sombra)"
          href="#">Cotizar | Agendar</a>
      </div>
    </div>
  </section>




  {{> footer }}


  {{!-- bootstrap --}}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>

  {{!-- js --}}
  <script src="../js/indicaciones.js"></script>
  <script src="../js/borderBottonNav.js"></script>
  <script src="../js/countDown.js"></script>

</body>

</html>