<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="../img/icon_header_depilcenter.png">

    <title>Depilcenter - Centro de depilacion</title>
    {{!-- getbotstrap --}}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <link rel="stylesheet" href="../css/pages.css">

    {{!-- Nieve --}}
    {{!--
    <script src="../js/snowstorm.js"> </script> --}}


    {{!-- SEMANTIC UI --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
        integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>

<body>

    <header class="header">
        <div class="img-logo-box">
            {{!-- <img src="./img/logo_navidad.png" alt="logo de Depiclenter"> --}}
            <img src="./img/logo_depilcenter.png" alt="logo de Depiclenter">

        </div>
        <div class="icons-redes">
            <a href="https://www.facebook.com/depilcenter.ecu" target="_blank">
                <i class="facebook icon"></i>
            </a>

            <a href="https://www.instagram.com/depilcenter.ecu/" target="_blank">
                <i class="instagram icon"></i>
            </a>
        </div>

        <h4>
            CENTRO DE DEPILACION
        </h4>
        <p>
            Depilación con cera - Depilación definitiva
        </p>


    </header>

    <section class="container-main-color">


        <div class="mision_2022">
            <p>
                <b>MISIÓN: </b>
                <br>
                Hacer nuestra <b>atención al cliente</b> nuestro diferenciador más importante, sin descuidar la
                calidad de nuestros servicios.
            </p>
        </div>

        <div class="garantia_2022">
            <p>
                DOS AÑOS DE GARANTIA EN TU TRATAMIENTO DE DEPILACION DEFINTIVA.
            </p>
        </div>



        <div class="white">
            <i class="bullhorn icon"></i>
            ¿SESION GRATIS?
            <br>
            <p style="color: #7a7a7a; margin: 0; font-size: 12px;">Depilación definitiva</p>
            <p>Completa la siguiente encuesta y reclama una sesión gratis de la zona que desees.</p>

            <a href="#">Completar encuesta</a>

        </div>


        <div href="https://api.whatsapp.com/send?phone=593984266244&text=Hola%20%F0%9F%91%8B,%20quiero%20una%20cita.%0A%E2%80%A2%20Nombres:%0A%E2%80%A2%20Servicio:%0A%E2%80%A2%20Fecha%20cita:%0A%E2%80%A2%20Hora%20cita:"
            target="_blank">
            <i class="bullhorn icon"></i>
            ¿ZONA GRATIS?
            <p style="color: #7a7a7a; margin: 0; font-size: 12px;">Depilación con cera tibia</p>
            <p>Completa la siguiente encuesta y reclama una depilación gratis de la zona que desees.</p>

            <a href="#">Completar encuesta</a>

        </div>


        <div class="black">
            <i class="whatsapp icon"></i>
            WHATSAPP
            <p>Si hay algo en lo que podamos ayudarle o desea agendar una cita por favor envíenos un mensaje.</p>

            <a target="_blank"
                href="https://api.whatsapp.com/send?phone=593984266244&text=Hola%20%F0%9F%91%8B,%20quiero%20una%20cita.%0A%E2%80%A2%20Nombres:%0A%E2%80%A2%20Servicio:%0A%E2%80%A2%20Fecha%20cita:%0A%E2%80%A2%20Hora%20cita:">Enviar
                mensaje</a>

        </div>

        <div class="black">
            <i class="gift icon"></i>
            PROMOCIONES


            <p>Conozca las ultimas promociones en cada uno de nuestros servicios.</p>

            <a target="_blank" href="https://www.depilcenter.ec/depilacion-definitiva-promocion">Ver promociones</a>


        </div>



        <div class="black">
            <i class="map marker alternate icon"></i>
            UBICACION
            <br>
            <p>Nos ubicamos en el sector el condado, frente al estadio de liga de quito tras la parda de buses San
                Carlos.</p>

            <a href="https://n9.cl/n4ry0" target="_blank">Ver en google maps</a>


        </div>

        <div class="black">
            <i class="paperclip icon"></i>
            APP WEB

            <p>Conozca más acerca de nuestros servicios, sus precios, promociones y más. </p>

            <a href="https://www.depilcenter.ec" target="_blank">Ir a app web</a>


        </div>
        <div class="black">
            {{!-- <i class="money bill alternate outline icon"></i> --}}
            DEPILACION CON CERA
            <p>
                Elija las zonas a depilar, mire el precio y agende su cita.
            </p>
            <a href="https://www.depilcenter.ec/cotizar/depilacion-cera?genero=mujer" target="_blank">Ver zonas</a>
        </div>

        <div class="black">
            {{!-- <i class="money bill alternate outline icon"></i> --}}
            DEPILACION DEFINTIVA
            <p>
                Elija las zonas a depilar, mire el precio y agende su cita.
            </p>
            <a href="https://www.depilcenter.ec/cotizar/depilacion-definitiva?genero=mujer" target="_blank">Ver
                zonas</a>
        </div>

    </section>

</body>

</html>