<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Depilcenter - Centro de depilacion</title>
    {{!-- getbotstrap --}}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <link rel="stylesheet" href="../css/pages.css">

    {{!-- Nieve --}}
    <script src="../js/snowstorm.js"> </script>


    {{!-- SEMANTIC UI --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
        integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>

<body>

    <header class="header">
        <div>
            <img src="./img/logo_navidad.png" alt="logo de Depiclenter">
        </div>
        <div class="icons-redes">
            <a href="https://www.facebook.com/depilcenter.ecu" target="_blank">
                <i class="facebook icon"></i>
            </a>

            <a href="https://www.instagram.com/depilcenter.ecu/" target="_blank">
                <i class="instagram icon"></i>
            </a>
        </div>
        <div class="header-desc">
            <h3>
                CENTRO DE DEPILACION
            </h3>
            <p>
                • Depilación con cera ♨
            </p>
            <p>
                • Depilación definitiva ⚡
            </p>
        </div>
    </header>

    <section class="container-main-color">
        <a href="https://api.whatsapp.com/send?phone=593984266244&text=Hola%20%F0%9F%91%8B,%20quiero%20una%20cita.%0A%E2%80%A2%20Nombres:%0A%E2%80%A2%20Servicio:%0A%E2%80%A2%20Fecha%20cita:%0A%E2%80%A2%20Hora%20cita:"
            target="_blank">
            <i class="calendar alternate outline icon"></i>
            RESERVAR UNA CITA</a>

        <a href="https://www.depilcenter.ec/depilacion-definitiva-promocion" target="_blank">
            <i class="gift icon"></i>
            PROMOCIONES</a>

        <a href=" https://n9.cl/n4ry0" target="_blank">
            <i class="map marker alternate icon"></i>
            UBICACION EN GOOGLE MAPS
            <br>
            <p>Ref. Frente a estadio de liga de quito</p>
        </a>
        <a href="wwww.depilcenter.ec" target="_blank">
            <i class="paperclip icon"></i>
            APP WEB
        </a>
        <a href="http://localhost:3000/cotizar/depilacion-cera?genero=mujer" target="_blank">
            <i class="money bill alternate outline icon"></i>
            COTIZAR | DEPILACION CON CERA</a>
        <a href="http://localhost:3000/cotizar/depilacion-definitiva?genero=mujer" target="_blank">
            <i class="money bill alternate outline icon"></i>
            COTIZAR | DEPILACION DEFINTIVA</a>

    </section>

</body>

</html>