<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="../img/icon_header_depilcenter.png">

    <title>Depilcenter - Centro de depilacion</title>
    {{!-- getbotstrap --}}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <link rel="stylesheet" href="../css/pages.css">

    {{!-- Nieve --}}
    {{!--
    <script src="../js/snowstorm.js"> </script> --}}


    {{!-- SEMANTIC UI --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
        integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>

<body>

    <section class="container-pages">

        <section class="body-content">
            <header class="header-logo">
                <img src="../img/logo_sin_fondo_2022-04.png" alt="Logo Depilcenter - Centro de depilacion">
            </header>

            <section class="over-block">
                <h4>
                    BIENVENIDA/O.
                </h4>
                <p>
                    Somos un centro de depilación comprometido en brindar una experiencia excepcional, única y
                    económica. <br>
                </p>
                <p style="text-align: center; color: #726e6e">
                    <i>
                        Depilacion con cera tibia - Depilacion definitiva
                    </i>
                </p>
            </section>

            <section class="items-content">

                <a href="https://api.whatsapp.com/send?phone=593984266244&text=Hola%20%F0%9F%91%8B,%20quiero%20una%20cita.%0A%E2%80%A2%20Nombres:%0A%E2%80%A2%20Servicio:%0A%E2%80%A2%20Fecha%20cita:%0A%E2%80%A2%20Hora%20cita:%0A%E2%80%A2%20Local:%20Condado-Carolina"
                    target="_blank" class="btn-page">
                    <div class="item-all">
                        <div class="icon-pages">
                            <i class="whatsapp icon"></i>
                        </div>
                        <div class="txt-pages">
                            <h5>
                                Whatsapp
                            </h5>
                            <p>
                                ¿Deseas reservar una cita o tienes alguna duda?
                            </p>
                        </div>
                    </div>
                </a>

                <hr>

                <a href="https://g.page/depilcenterecu?share" target="_blank" class="btn-page">
                    <div class="item-all">
                        <div class="icon-pages">
                            <i class="bookmark outline icon"></i>

                        </div>
                        <div class="txt-pages">
                            <h5>
                                Ubicación 1.
                            </h5>
                            <p>
                                Sector el condado, en edificio Praga.
                            </p>
                        </div>
                    </div>
                </a>

                <hr>

                <a href="https://goo.gl/maps/xJpL9G9dBWsAuHCt6" target="_blank" class="btn-page">
                    <div class="item-all">
                        <div class="icon-pages">
                            <i class="bookmark outline icon"></i>
                        </div>
                        <div class="txt-pages">
                            <h5>
                                Ubicación 2.
                            </h5>
                            <p>
                                Sector la carolina, en edificio Kona.
                            </p>
                        </div>
                    </div>
                </a>

                <hr>

                <a href="https://www.depilcenter.ec" target="_blank" class="btn-page">
                    <div class="item-all">
                        <div class="icon-pages">
                            <i class="compass outline icon"></i>
                        </div>
                        <div class="txt-pages">
                            <h5>
                                Sitio web oficial
                            </h5>
                            <p>
                                www.depilcenter.ec
                            </p>
                        </div>
                    </div>
                </a>

                <hr>

                <a href="https://www.instagram.com/depilcenter.ecu/" target="_blank" class="btn-page">
                    <div class="item-all">
                        <div class="icon-pages">
                            <i class="instagram icon"></i>
                        </div>
                        <div class="txt-pages">
                            <h5>
                                Instagram
                            </h5>
                            <p>
                                @depilcenter.ecu
                            </p>
                        </div>
                    </div>
                </a>

                <hr>
                <a href="https://www.facebook.com/depilcenter.ecu/" target="_blank" class="btn-page">
                    <div class="item-all">
                        <div class="icon-pages">
                            <i class="facebook f icon"></i>
                        </div>
                        <div class="txt-pages">
                            <h5>
                                Facebook
                            </h5>
                            <p>
                                @depilcenter.ecu
                            </p>
                        </div>
                    </div>
                </a>

                <hr>
                <a href="https://www.depilcenter.ec/cotizar" target="_blank" class="btn-page">
                    <div class="item-all">
                        <div class="icon-pages">
                            <i class="chart bar outline icon"></i>
                        </div>
                        <div class="txt-pages">
                            <h5>
                                Cotizar
                            </h5>
                            <p>
                                www.depilcenter.ec/cotizar
                            </p>
                        </div>
                    </div>
                </a>

            </section>

        </section>


    </section>


    {{!-- <header class="header">
        <div class="img-logo-box">
            <img src="./img/logo_depilcenter.png" alt="logo de Depiclenter">

        </div>
        <div class="icons-redes">
            <a href="https://www.facebook.com/depilcenter.ecu" target="_blank">
                <i class="facebook icon"></i>
            </a>

            <a href="https://www.instagram.com/depilcenter.ecu/" target="_blank">
                <i class="instagram icon"></i>
            </a>
        </div>

        <h4>
            CENTRO DE DEPILACION
        </h4>
        <p class="margin-z">
            Depilación con cera - Depilación definitiva
        </p>


    </header> --}}

    {{!-- <section class="container-main-color">


        <div class="garantia_2022">
            <p>
                DOS AÑOS DE GARANTIA EN TU TRATAMIENTO DE DEPILACION DEFINTIVA.
            </p>
        </div>


        <div class="padding-botton">
            <i class="bullhorn icon"></i>
            NUESTRA MISION
            <p> Hacer nuestra <b>atención al cliente</b> nuestro diferenciador más importante, sin descuidar la
                calidad de nuestros servicios.</p>
        </div>


        <div class="green">
            <i class="whatsapp icon"></i>
            WHATSAPP
            <p>Si hay algo en lo que podamos ayudarle o desea agendar una cita por favor envíenos un mensaje.</p>

            <a target="_blank"
                href="https://api.whatsapp.com/send?phone=593984266244&text=Hola%20%F0%9F%91%8B,%20quiero%20una%20cita.%0A%E2%80%A2%20Nombres:%0A%E2%80%A2%20Servicio:%0A%E2%80%A2%20Fecha%20cita:%0A%E2%80%A2%20Hora%20cita:">Enviar
                mensaje</a>

        </div>

        <div class="black">
            <i class="gift icon"></i>
            PROMOCIONES


            <p>Conozca las ultimas promociones en cada uno de nuestros servicios.</p>

            <a target="_blank" href="https://www.depilcenter.ec/depilacion-definitiva-promocion">Ver promociones</a>


        </div>



        <div class="black">
            <i class="map marker alternate icon"></i>
            UBICACION
            <br>
            <p>Nos ubicamos en el sector el condado, frente al estadio de liga de quito tras la parada de buses San
                Carlos.</p>

            <a href="https://n9.cl/n4ry0" target="_blank">Ver en google maps</a>


        </div>

        <div class="black">
            <i class="paperclip icon"></i>
            APP WEB

            <p>Conozca más acerca de nuestros servicios, sus precios, promociones y más.</p>

            <a href="https://www.depilcenter.ec" target="_blank">Ir a app web</a>


        </div>
        <div class="black">
            DEPILACION CON CERA
            <p>
                Elija las zonas a depilar, mire el precio y agende su cita.
            </p>
            <a href="https://www.depilcenter.ec/cotizar/depilacion-cera?genero=mujer" target="_blank">Ver zonas</a>
        </div>

        <div class="black">
            DEPILACION DEFINTIVA
            <p>
                Elija las zonas a depilar, mire el precio y agende su cita.
            </p>
            <a href="https://www.depilcenter.ec/cotizar/depilacion-definitiva?genero=mujer" target="_blank">Ver
                zonas</a>
        </div>

    </section> --}}

</body>

</html>