<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de registro</title>
    <link rel="icon" href="../img/icon_header_depilcenter.png">

    {{!-- getbotstrap --}}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <link rel="stylesheet" href="../css/registroFormulario.css">
    <link rel="stylesheet" href="../css/main.css" />

    {{!-- google icons --}}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {{!-- SEMANTIC UI --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
        integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"
        integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    {{!-- Animate.css --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />


</head>

<body>
    {{> header }}



    <section class="container container-main">

        {{#if error}}
        <div class="error_form">
            <b>
                OOPS, A OCURRIDO UN ERROR ☹ <br>
            </b>
            Por favor, llena todos los campos e intenta de nuevo.
        </div>
        {{/if}}

        <form action="/form" method="POST" class="formContainer">

            <div class="title_form">
                <h4>DATOS PERSONALES ✍</h4>
                <i>Por favor completa el formulario.</i>
            </div>

            {{!-- INPUTS --}}

            <div class="container_inputs">
                <label for="">Nombres</label>
                <input type="text" name="Nombres" autocomplete="off" placeholder="Dos nombres dos apellidos">
            </div>

            <div class="container_inputs">
                <label for="">Nro. whatsapp</label>
                <input type="number" name="Telefono" autocomplete="off" placeholder="Ej. 0984266244">
            </div>

            <div class="container_inputs">
                <label for="">Edad</label>
                <input type="number" name="Edad" autocomplete="off" placeholder="">
            </div>

            <div class="container_inputs">
                <label for="">Ocupacion.</label>
                <input type="text" name="Ocupacion" autocomplete="off" placeholder="Ej. Doctor">
            </div>

            <div class="container_inputs">
                <label for="">Sector de recidencia.</label>
                <input type="text" name="Sector_recidencia" autocomplete="off" placeholder="Ej. Sector el condado">
            </div>

            <div class="container_inputs">
                <label for="">Email <span>OPCIONAL</span></label>
                <input type="email" name="Email" autocomplete="off" placeholder="Ej. example@gmail.com">
            </div>

            <div class="container_inputs">
                <label for="">Fecha nacimiento <span>OPCIONAL</span> </label>
                <input type="date" name="Fecha_nacimiento" autocomplete="off" placeholder="Ej. 05-08-2001">
            </div>

            <div class="container_inputs">
                <label for="">¿Como nos conocio? </label>
                <select name="Como_nos_conocio" id="">
                    <option disabled selected>Seleccionar</option>
                    <option value="Facebook">Facebook</option>
                    <option value="Instagram">Instagram</option>
                    <option value="Google">Google</option>
                    <option value="Conocido">Conocido</option>
                    <option value="Otro">Otro</option>
                </select>
            </div>
            {{!-- FIN INPUTS --}}

            <div class="container_inputs">
                <label for="">¿Que le motivo a iniciar un tratamiento de depilacion?</label>
                <input type="text" name="Que_motivo_su_visita" autocomplete="off"
                    placeholder="Ej. No me gustan los vellos">
            </div>

            <div class="container_inputs container_inputs_radio">
                <label class="inputRadio" for="">¿A iniciado un tratamiento antes?</label>
                <div class="container_inputs_radio_childs container_radio_option">
                    <label class=""><input type="radio" name="A_iniciado_tratamiento_antes" value="on" />Si</label>
                    <label class=""><input type="radio" name="A_iniciado_tratamiento_antes" value="off" />No</label>
                </div>
            </div>

            <div class="container_inputs container_inputs_radio">
                <label class="inputRadio" for="">¿Posee usted marcapaso?</label>
                <div class="container_inputs_radio_childs">
                    <label class=""><input type="radio" name="Posee_marcapaso" value="on" />Si</label>
                    <label class=""><input type="radio" name="Posee_marcapaso" value="off" />No</label>
                </div>
            </div>

            <div class="container_inputs container_inputs_radio">
                <label class="inputRadio" for="">¿Esta embarazada?</label>
                <div class="container_inputs_radio_childs">
                    <label class=""><input type="radio" name="Esta_embarazada" value="on" />Si</label>
                    <label class=""><input type="radio" name="Esta_embarazada" value="off" />No</label>
                </div>
            </div>

            <div class="container_inputs container_inputs_radio">
                <label class="inputRadio" for="">¿Esta en proceso de lactancia?</label>
                <div class="container_inputs_radio_childs">
                    <label class=""><input type="radio" name="Proceso_de_lactancia" value="on" />Si</label>
                    <label class=""><input type="radio" name="Proceso_de_lactancia" value="off" />No</label>
                </div>
            </div>

            <div class="container_inputs container_inputs_radio">
                <label class="inputRadio" for="">¿Posee insuficiencia cardiaca?</label>
                <div class="container_inputs_radio_childs">
                    <label class=""><input type="radio" name="Insuficiencia_cardiaca" value="on" />Si</label>
                    <label class=""><input type="radio" name="Insuficiencia_cardiaca" value="off" />No</label>
                </div>
            </div>

            <div class="container_inputs container_inputs_radio">
                <label class="inputRadio" for="">¿Cardiopatias?</label>
                <div class="container_inputs_radio_childs">
                    <label class=""><input type="radio" name="Cardiopatias" value="on" />Si</label>
                    <label class=""><input type="radio" name="Cardiopatias" value="off" />No</label>
                </div>
            </div>

            <div class="container_inputs container_inputs_radio">
                <label class="inputRadio" for="">¿Ha sido tratada por tumores?</label>
                <div class="container_inputs_radio_childs">
                    <label class=""><input type="radio" name="Tratada_por_tumores" value="on" />Si</label>
                    <label class=""><input type="radio" name="Tratada_por_tumores" value="off" />No</label>
                </div>
            </div>

            <div class="container_inputs container_inputs_radio">
                <label class="inputRadio" for="">¿Tiene alteraciones en la coagulacion?</label>
                <div class="container_inputs_radio_childs">
                    <label class=""><input type="radio" name="Alteraciones_en_la_coagulacion" value="on" />Si</label>
                    <label class=""><input type="radio" name="Alteraciones_en_la_coagulacion" value="off" />No</label>
                </div>
            </div>

            <div class="container_inputs container_inputs_radio">
                <label class="inputRadio" for="">¿Posee protesis medicas?</label>
                <div class="container_inputs_radio_childs">
                    <label class=""><input type="radio" name="Protesis_medicas" value="on" />Si</label>
                    <label class=""><input type="radio" name="Protesis_medicas" value="off" />No</label>
                </div>
            </div>


            <div class="container_inputs container_inputs_radio">
                <label class="inputRadio" for="">¿Sufre de Gastrica?</label>
                <div class="container_inputs_radio_childs">
                    <label class=""><input type="radio" name="Sufre_de_gastrica" value="on" />Si</label>
                    <label class=""><input type="radio" name="Sufre_de_gastrica" value="off" />No</label>
                </div>
            </div>


            <div class="container_inputs container_inputs_radio">
                <label class="inputRadio" for="">¿Operado de cinturon gastrico?</label>
                <div class="container_inputs_radio_childs">
                    <label class=""><input type="radio" name="Cinturon_gastrico" value="on" />Si</label>
                    <label class=""><input type="radio" name="Cinturon_gastrico" value="off" />No</label>
                </div>
            </div>

            <div class="container_inputs container_inputs_radio">
                <label class="inputRadio" for="">¿Tiene algun proceso de sicatrizacion?</label>
                <div class="container_inputs_radio_childs">
                    <label class=""><input type="radio" name="Algun_proceso_de_sicatrizacion" value="on" />Si</label>
                    <label class=""><input type="radio" name="Algun_proceso_de_sicatrizacion" value="off" />No</label>
                </div>
            </div>

            <div class="container_inputs container_inputs_radio">
                <label class="inputRadio" for="">¿Flebitis o trombosis?</label>
                <div class="container_inputs_radio_childs">
                    <label class=""><input type="radio" name="Flebitis_o_trombosis" value="on" />Si</label>
                    <label class=""><input type="radio" name="Flebitis_o_trombosis" value="off" />No</label>
                </div>
            </div>

            <div class="container_inputs container_inputs_radio">
                <label class="inputRadio" for="">¿Tiene varices de gran tamaño?</label>
                <div class="container_inputs_radio_childs">
                    <label class=""><input type="radio" name="Varices_de_gran_tamaño" value="on" />Si</label>
                    <label class=""><input type="radio" name="Varices_de_gran_tamaño" value="off" />No</label>
                </div>
            </div>

            <div class="container_inputs container_inputs_radio">
                <label class="inputRadio" for="">¿Alteraciones vasculares?</label>
                <div class="container_inputs_radio_childs">
                    <label class=""><input type="radio" name="Alteraciones_vasculares" value="on" />Si</label>
                    <label class=""><input type="radio" name="Alteraciones_vasculares" value="off" />No</label>
                </div>
            </div>


            <div class="container_inputs container_inputs_radio">
                <label class="inputRadio" for="">¿Algun proceso infeccioso?</label>
                <div class="container_inputs_radio_childs">
                    <label class=""><input type="radio" name="Algun_proceso_infeccioso" value="on" />Si</label>
                    <label class=""><input type="radio" name="Algun_proceso_infeccioso" value="off" />No</label>
                </div>
            </div>

            <div class="container_inputs container_inputs_radio">
                <label class="inputRadio" for="">¿Patologia en el sistema digestico?</label>
                <div class="container_inputs_radio_childs">
                    <label class=""><input type="radio" name="Patologia_en_sistema_digestico" value="on" />Si</label>
                    <label class=""><input type="radio" name="Patologia_en_sistema_digestico" value="off" />No</label>
                </div>
            </div>


            <div class="container_inputs container_inputs_radio">
                <label class="inputRadio" for="">¿Patologia en el sistema urinario?</label>
                <div class="container_inputs_radio_childs">
                    <label class=""><input type="radio" name="Patologia_en_sistema_urinario" value="on" />Si</label>
                    <label class=""><input type="radio" name="Patologia_en_sistema_urinario" value="off" />No</label>
                </div>
            </div>


            <div class="container_inputs container_inputs_radio">
                <label class="inputRadio" for="">¿Higado graso?</label>
                <div class="container_inputs_radio_childs">
                    <label class=""><input type="radio" name="Higado_graso" value="on" />Si</label>
                    <label class=""><input type="radio" name="Higado_graso" value="off" />No</label>
                </div>
            </div>

            <div class="container_inputs">
                <label for="">Observacion</label>
                <input type="text" name="Observacion" autocomplete="off"
                    placeholder="Ej. Tengo piel sensible, tener cuidado">
            </div>

            <label class="tyc"><input type="checkbox" name="TYC" />Aceptar términos y condiciones</label>

            <button type="submit">ENVIAR</button>

        </form>
    </section>

    <script src="../js/registroFormulario.js"></script>


</body>

</html>