body {
  background-color: #f0f0f0 !important;
}

.container-main {
  position: relative;
  background-color: #f7442d;
}

.container {
  padding: 0;
}

.botton-header {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.nota {
  padding: 8px;
  background-color: #c7c6c6;
  font-size: 13px;
  margin-top: 11px !important;
  border-radius: 5px;
}

.botton-header a {
  background-color: #ffb800;
  font-size: 30px;
  text-align: center;
  padding: 10px 10px 1px 10px;
  font-weight: bold;
  display: block;
  color: #72000f;
}

.botton-header a:hover {
  color: #72000f;
  background-color: #f7ba1f;
  box-shadow: var(--sombra);
}

.second-button {
  display: flex;
  justify-content: center;
  background-color: #860214;
  padding: 5px 0;
}

.second-button-child i {
  color: #fff;
}

.second-button-child a {
  color: #fff;
  margin: 0;
}

.second-button-child a:hover {
  color: #fac8c8;
}

.container-main img {
  margin: 0;
  padding: 0;
  object-fit: cover;
  width: 100%;
}

.container-main img:nth-child(2) {
  display: none;
}

.title-navidad {
  text-align: center;
  margin: 50px 10px;
}

.title-navidad h1 {
  color: #c20b23;
  margin: 0 !important;
}

.title-navidad p {
  color: #494949;
  margin: 0;
  margin: 0;
}

.btn-enviar-mensaje {
  margin: 18px 10px;
  color: #fff;
  /* display: flex;
  flex-direction: column; */
}

.btn-enviar-mensaje a {
  cursor: pointer;
  width: 100%;
  display: inline-block;
  text-align: center;
  border: none;
  box-shadow: var(--sombra);
  border-radius: 5px;
  background-color: #c20b23;
  color: #fff;
  font-size: 18px;
  padding: 10px 0;
}

.btn-enviar-mensaje a:hover {
  background-color: #97081b;
  color: #fff;
}

.footer-navidad {
  height: 15px;
  background-color: #c20b23;
}

@media screen and (max-width: 768px) {
  .title-navidad h1 {
    font-size: 18px;
  }

  .botton-header a {
    background-color: #ffb800;
    font-size: 19px;
    text-align: center;
    padding: 7px;
    font-weight: bold;
    display: block;
    color: #72000f;
  }

  .container-main img:nth-child(1) {
    display: none;
  }

  .container-main img:nth-child(2) {
    display: block;
  }

  .title-navidad p {
    color: #494949;
    margin: 0;
    margin: 0;
  }
}
