body {
  background-color: #f0f0f0 !important;
}

.container-main {
  background-color: #f7442d;
}

.container {
  padding: 0;
}

.container-main img {
  margin: 0;
  padding: 0;
  object-fit: cover;
  width: 100%;
}

.title-navidad {
  text-align: center;
  margin: 50px 10px;
}

.title-navidad h1 {
  color: #c20b23;
  margin: 0 !important;
}

.title-navidad p {
  color: #494949;
  margin: 0;
  margin: 0;
}

.btn-enviar-mensaje {
  margin: 18px 10px;
  color: #fff;
  /* display: flex;
  flex-direction: column; */
}

.btn-enviar-mensaje a {
  cursor: pointer;
  width: 100%;
  display: inline-block;
  text-align: center;
  border: none;
  box-shadow: var(--sombra);
  border-radius: 5px;
  background-color: #c20b23;
  color: #fff;
  font-size: 18px;
  padding: 10px 0;
}

.btn-enviar-mensaje a:hover {
  background-color: #97081b;
  color: #fff;
}

.footer-navidad {
  display: flex;
  align-items: center;
  font-size: 25px;
  height: 40px;
}

.footer-navidad i {
  color: #c20b23;
}

@media screen and (max-width: 768px) {
  .title-navidad h1 {
    font-size: 18px;
  }

  .title-navidad p {
    color: #494949;
    margin: 0;
    margin: 0;
  }
}
