.cajaOpciones {
  display: flex;
  justify-content: center;
}

.borraOpciones {
  box-sizing: content-box;
  max-width: 900px;
  width: 900px;
  position: relative;
  top: 100px;
}

.tab-content {
  box-sizing: content-box;
  padding: 20px;
  border-right: 1px solid rgb(209, 209, 209);
  border-bottom: 1px solid rgb(209, 209, 209);
  border-left: 1px solid rgb(209, 209, 209);
}

/* ====COTIZAR MUJER ===== */
.cajaMainCotizarMujer,
.cajaMainCotizarHombre {
  display: grid;
  grid-template-columns: repeat(1, -1);
  /* grid-template-rows: repeat(15, auto); */
  gap: 1em;
}

.cajaCotizarCorporal,
.cajaCotizarCorporalHombre {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
}

.cajaCotizarCorporal > div,
.cajaCotizarCorporalHombre > div {
  background-color: coral;
  padding: 1em;
  border-radius: 10px;
}

.cajaCotizarFacial,
.cajaCotizarFacialHombre {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
}

.cajaCotizarFacial > div,
.cajaCotizarFacialHombre > div {
  background-color: cornflowerblue;
  grid-template-columns: repeat(4, 1fr);
  padding: 1em;
  border-radius: 10px;
}

.nombreCotizarCorporal,
.nombreCotizarCorporalHombre {
  grid-column: 1/-1;
}

.nombreCotizarFacial,
.nombreCotizarFacialHombre {
  grid-column: 1/-1;
}

.totalCotizarCorporalFacial {
  padding: 1em;
  background-color: crimson;
  border-radius: 10px;
  color: #fff;
}

.cajaSelecionada {
  background-color: rgb(231, 205, 165) !important;
  transform: scale(1.03);
}

/* ====FIN COTIZAR MUJER ===== */
