html {
  height: 100%;
}

body{
  min-height: 100%;
  position: relative;
}

:root {
  --fondo: rgb(245, 224, 227);
  --general: #e8908b;
  --amarillo: rgb(255, 255, 166);
  --celeste: rgb(150, 230, 226);
  --rojo: rgb(250, 173, 173);
  --letras: rgb(119, 119, 119);
  --negro : rgb(56, 56, 56);
}

.quienes_somos_img {
  width: 100%;
  margin-top: 56px;
  /* max-height: 500px; */
  /* height: 100px; */
  background-color: red;
}


.quienes_somos_img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.quienes_somos_txt_contenedor {
  display: flex;
  justify-content: center;
  padding-bottom: 320px;
  /* text-align: center; */
  /* background-color: yellow; */
}

.quienes_somos_txt_centrar{
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  grid-template-columns: repeat(2,auto);
  gap: 10px;
  /* padding: 15px; */
  margin : 40px 0;
  justify-content: center;
  max-width: 95%;
}



/* ===================TEXTO QUIENES SOMOS ============ */
.quienes_somos_txt{
  min-width: 340px;
  max-width: 900px;
  /* grid-column: span 3; */
  
  /* background-color: chocolate; */
}

.quienes_somos_txt  div{
  /* background-color: yellow; */
  padding: 30px;
  /* margin: 15px 0; */
}

/* ===================*FIN TEXTO QUIENES SOMOS ============ */



/* ======================================================== */
/* ==========TEMAS-ESCRIBENOS(FORM)-BOTONES================ */
/* ======================================================== */

.links_quienes_somos_contenedor {
  /* padding: 10px; */
  display: grid;
  grid-template-columns: minmax( 260px , 300px);
  grid-template-rows: repeat(3 , min-content);
  
  /* min-width: 300px;
  max-width: 400px; */
  /* display: flex;
  flex-direction: column ; */
}

.links_quienes_somos_contenedor > div , form {
  margin-bottom: 10px;
  padding: 12px;
  border-radius: 10px;
  box-shadow: -2px 3px 5px rgba(0, 0, 0, 0.3);
}

/* =============TEMAS============= */
.links_quienes_somos_contenedor .temas_quienes_somos{
  background-color: var(--rojo);
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
}
.links_quienes_somos_contenedor .temas_quienes_somos h3{
  margin: 0;
  color: rgb(54, 53, 53);
  font-weight: 500;
  font-size: 20px;
  /* background-color: aqua; */
}
  
.links_quienes_somos_contenedor .temas_quienes_somos a {
  color: white;
  font-weight: 500;
  text-decoration: none;
  /* background-color: blue; */
  padding: 5px 0;
  /* margin: 2px 0; */
}

.links_quienes_somos_contenedor .temas_quienes_somos a:hover {
  text-decoration: underline;
}


/* =============*FIN TEMAS============= */

/* =============BOTONES( AGENDAR CITA - COTIZAR  )============= */
.links_quienes_somos_contenedor .agendarCita_quienes_somos{
  display: grid;
  grid-template-columns: repeat( 3 , 1fr);
  background-color: var(--amarillo);
  align-items: center;
  /* text-align: center; */
  font-size: 13px;
  gap: 4px;
  text-align: center;
}


.links_quienes_somos_contenedor .agendarCita_quienes_somos a{
  /* width: 150px; */
  border-radius: 15px;
  padding: 5px 6px;
  background-color: white;
  font-weight: 500;
  text-decoration: none;
  color: var(--negro);
}

.links_quienes_somos_contenedor .agendarCita_quienes_somos a:hover{
  text-decoration:underline;
}


/* =============*FIN BOTONES( AGENDAR CITA - COTIZAR  )============= */


/* ======================================================== */
/* ==========*FIN TEMAS-ESCRIBENOS(FORM)-BOTONES================ */
/* ======================================================== */

