html {
  height: 100%;
}

body{
  min-height: 100%;
  position: relative;
}

:root {
  --fondo: rgb(245, 224, 227);
  --general: #e8908b;
  --amarillo: rgb(255, 255, 166);
  --celeste: rgb(150, 230, 226);
  --rojo: rgb(250, 173, 173);
  --letras: rgb(119, 119, 119);
  --negro : rgb(56, 56, 56);
}


.quienes_somos_img img{
  width: 100%;
}

.quienes_somos_txt_contenedor {
  display: flex;
  justify-content: center;
  padding-bottom: 211px;
  /* text-align: center; */
  /* background-color: yellow; */
}

.quienes_somos_txt_centrar{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
  max-width: 60%;
  /* background-color: rgb(238, 99, 99); */
  padding: 15px;
  margin : 40px 0;
}

/* ===================TEXTO QUIENES SOMOS ============ */
.quienes_somos_txt{
  grid-column: span 3;
  /* background-color: chocolate; */
}

.quienes_somos_txt  div{
  /* background-color: yellow; */
  padding: 30px;
  margin: 15px 0;
}

/* ===================*FIN TEXTO QUIENES SOMOS ============ */



/* ======================================================== */
/* ==========TEMAS-ESCRIBENOS(FORM)-BOTONES================ */
/* ======================================================== */

.links_quienes_somos_contenedor {
  padding: 10px;
  display: flex;
  flex-direction: column ;
}

.links_quienes_somos_contenedor > div , form {
  margin-bottom: 10px;
  padding: 12px;
  border-radius: 10px;
}

/* =============TEMAS============= */
.links_quienes_somos_contenedor .temas_quienes_somos{
  background-color: var(--rojo);
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
}
.links_quienes_somos_contenedor .temas_quienes_somos h3{
  margin: 0;
  color: rgb(54, 53, 53);
  font-weight: 500;
  font-size: 20px;
  /* background-color: aqua; */
}
  
.links_quienes_somos_contenedor .temas_quienes_somos a {
  color: white;
  font-weight: 500;
  text-decoration: none;
  /* background-color: blue; */
  padding: 5px 0;
  /* margin: 2px 0; */
}

.links_quienes_somos_contenedor .temas_quienes_somos a:hover {
  text-decoration: underline;
}


/* =============*FIN TEMAS============= */

/* =============BOTONES( AGENDAR CITA - COTIZAR  )============= */
.links_quienes_somos_contenedor .agendarCita_quienes_somos{
  background-color: var(--amarillo);
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.links_quienes_somos_contenedor .agendarCita_quienes_somos a{
  margin: 6px 0;
  width: 150px;
  display: block;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: white;
  font-weight: 500;
  text-decoration: none;
  color: var(--negro);
}

.links_quienes_somos_contenedor .agendarCita_quienes_somos a:hover{
  text-decoration:underline;
}


/* =============*FIN BOTONES( AGENDAR CITA - COTIZAR  )============= */


/* ======================================================== */
/* ==========*FIN TEMAS-ESCRIBENOS(FORM)-BOTONES================ */
/* ======================================================== */

