body {
  background-color: var(--fondo);
}

.__cotizarContainer {
  display: flex;
  justify-content: center;
  position: relative;
}

.imgCotizarContainer {
  display: flex;
  flex-grow: 3;
  justify-content: center;
  align-items: flex-end;
  padding: 20px;
}

.imgCotizarContainer img {
  height: 800px;
}

.cajaOpciones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: aqua; */
  flex-grow: 7;
}

.borraOpciones {
  animation-name: mostrarMujer;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

@keyframes mostrarMujer {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.tab-content {
  padding: 12px;
  border-radius: 5px;
  /* border: 1px solid #dddddd !important; */
  background-color: rgb(248, 223, 223);
}

/* OPCIONES DE COTIZAR( MUJER - HOMBRE  ) */
.nav-tabs {
  border-bottom: none !important;
}

.nav-tabs a {
  outline: none;
  color: rgb(32, 32, 32);
}

.nav .nav-link {
  margin: 0 12px;
}

.nav-tabs .active {
  border: none !important;
  border-radius: 5px 5px 0 0 !important;
  color: black !important;
  background-color: #f8dfdf !important;
}

.nav-tabs .nav-link {
  border: none !important;
  border-radius: 5px 5px 0 0 !important;
  background-color: #f0f0f0;
}

.nav-tabs .nav-link:hover {
  color: black;
  background-color: #f8dfdf !important;
}

/* OPCIONES DE COTIZAR *FIN( MUJER - HOMBRE  ) */

/* ====COTIZAR MUJER ===== */
.cajaOpciones .nameCotizar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 15px 15px 0 0;
  padding: 25px 0;
  word-wrap: word-break;
}

.nameCotizar h1 {
  font-size: 25px;
  margin: 0;
}

.nameCotizar p {
  margin: 0;
}

.cajaMainCotizar {
  display: grid;
  justify-content: center;
  grid-template-columns: 100%;
  gap: 10px;
  /* font-weight: 500; */
}

.boxCotizarFacial {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.4em 2em;
}

.boxCotizarFacial span {
  float: right;
}

.boxZonasCorporal {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.4em 2em;
}

.boxZonasCorporal span {
  float: right;
}

.zona-box-child p {
  margin: 0 3px;
}

.zona-box-child div {
  display: flex;
}

.zona-box-child {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  position: relative;
}

/*? OTROS SERVICIOS */

.boxOtrosServicios .msg-cotizarData {
  position: absolute;
  bottom: 0;
  left: 10px;
  font-size: 12px;
  color: rgb(139, 139, 139);
}

.margin-x {
  margin: 0.4em 0;
}

.accordion {
  margin-top: 10px;
  box-shadow: var(--sombra) !important;
  width: 100% !important;
  /* background-color: #8e2f9b !important; */
}

.accordion .title {
  background-color: #fff !important;
  border-radius: 5px !important;
  padding: 10px !important;
  font-weight: bold;
}

.accordion .content {
  padding: 5px 10px !important;
  border: none !important;
  margin: 0 !important;
  background-color: #f8dfdf !important;
}

.nombreZonas {
  grid-column: 1/-1;
}

/* ================================================== */
/* ================ CAJA DE VALOR TOTAL ============== */
/* ================================================== */

.boxValorTotal {
  border-radius: 5px;
  margin-top: 8px;
  background-color: #fff;
  overflow: hidden;
  text-align: center;
}

.boxBorder {
  padding: 6px 0;
  display: inline-block;
}

.boxValorTotal p {
  display: inline;
  margin: 0;
  font-weight: bold;
}

.btn-button-reserve {
  display: flex;
  justify-content: center;
  background-color: var(--base);
}

.btn-button-reserve button {
  padding: 12px 0;
  border: none;
  color: #fff;
  width: 100%;
  background-color: var(--base);
  font-weight: bold;
}

.btn-button-reserve button:hover {
  background-color: #ff8484;
}
/* ================================================== */
/* ================ *FIN  CAJA DE VALOR TOTAL ============== */
/* ================================================== */

/* =========================================================================== */
/* ============= AÑADE ESTAS CLASES CUANDO SELECCIONAMOS UNA ZONA ============ */
/* =========================================================================== */
.zonaSeleccionada {
  background-color: #ffffff7a !important;
  border-left: var(--base) solid 6px;
  font-weight: bold;
}

.checkSeleccionado {
  color: var(--base);
}

.checkSeleccionadoBlack {
  color: rgb(163, 163, 163) !important;
}

/* =========================================================================== */
/* ============= *AÑADE ESTAS CLASES CUANDO SELECCIONAMOS UNA ZONA ============ */
/* =========================================================================== */

/* =========================================================================== */
/* ======================== CSS PARA DEPILACION DEFINITIVA =================== */
/* =========================================================================== */
.boxZonasCorporalIPL {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.4em 2em;
}

/* =========================================================================== */
/* ======================== *CSS PARA DEPILACION DEFINITIVA =================== */
/* =========================================================================== */
