html {
  height: 100%;
}

body{
  min-height: 100%;
  position: relative;
}


:root {
  --fondo: rgb(245, 224, 227);
  --general: #e8908b;
  --amarillo: rgb(255, 255, 166);
  --celeste: rgb(150, 230, 226);
  --rojo: rgb(250, 173, 173);
  --letras: rgb(119, 119, 119);
}



.footer{
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  /* grid-template-columns: 100%; */
  /* grid-template-rows: 1fr auto; */
  background-color: salmon;
  /* justify-items: center; */
  text-align: center;
  bottom: 0;
  /* background-color: chocolate; */
  padding: 25px 0;
}

.centrarFooter {
  display: grid;
  width: 70%;
  justify-items: start;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr auto;
  /* gap: 15px; */
  /* background-color: crimson; */
}

.centrarFooter b{
  /* background-color: red; */
  display: inline-block;
  padding: 10px;
  font-size: 14px;
  color: white;
}

.centrarFooter p{
  /* background-color: blue; */
  font-size: 14px;
}

.centrarFooter a{
  font-size: 14px;
  margin: 3px 0;
}

.centrarFooter a:hover{
  text-decoration: underline;
}
  

.centrarFooter > div {
  padding: 10px;
}

.linksFooter {
  grid-column: span 1;
}

.linksFooter a {
  display: block;
  text-decoration: none;
  color: white;
  /* background-color: red; */
  /* font-weight: 500; */
}

.horariosAtencionFooter{
  grid-column: span 1;
}

.horariosAtencionFooter p{
  color: white;
}

.ubicacionFooter {
  display: grid;
  grid-column: span 2;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: 100%;
}

.ubicacionFooter a {
  text-decoration: none;
  color: white;
}

.ubicacionFooter img{
  width: 18px;
  margin-right: 5px;
}



.ubicacionFooter p{
  color: white;
}

.ubicacionFooter div:nth-child(1) {
  grid-column: span 2;
  /* background-color: blueviolet; */
}

.ubicacionFooter div:nth-child(2) {
  /* background-color: blue; */
  max-width: 100px;
}

.socialeFooter {
  display: grid;
  color: white;
  /* font-weight: 500; */
  grid-template-columns: repeat(3, auto);
  align-self: center;
  gap: 15px;
  /* padding: 15px 0; */
  /* background-color: blue; */
}

.atencionFooter{
  grid-column: span 3;
}

.socialeFooter > div > a > img {
  /* background-color: aqua; */
  padding: 5px;
  border: 1px solid white;
  border-radius: 50%;
  width: 32px;
}

.socialeFooter .telefonoFooter {
  grid-column: span 3;
}


.webDesign {
  display: inline-block;
  /* background-color: black; */
  width: 100%;
  padding: 10px 0;
}

.webDesign a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  /* font-weight: 500; */
}

@media screen and (max-width : 800px ){

  .centrarFooter {
    width: 100%;
    grid-template-columns: 100%;
    justify-items: center;
  }

  
   
  .ubicacionFooter div:nth-child(2) {
    display: none;
  }

  .ubicacionFooter {
    grid-column: auto;

  }
  
}