.footer {
  display: flex;
  background-color: var(--base);
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  width: 1300px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  /* background-color: #7e7e7e; */
  align-items: center;
  margin: 10px;
  flex-grow: 1;
  color: #fff;
}

.footer-title {
  position: relative;
  margin: 35px 0;
}

.footer-title hr {
  color: rgb(255, 255, 255);
  bottom: -18px;
  opacity: unset;
  position: absolute;
  width: 25%;
  height: 4px;
}

.footer-title h4 {
  margin: 0;
}

.footer-content a {
  position: relative;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  padding: 10px 0 0 0;
}

.footer-content a:hover {
  text-decoration: none;
  color: #fff;
}

.instagram-grid {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(3, 1fr);
}

.instagram-grid > div {
  width: 80px;
  height: 80px;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
}

.footer-column-icons {
  display: flex;
  justify-content: center;
  margin: 40px 0;
  flex-basis: 100%;
}

.bar-footer-white-container {
  background-color: #f3f3f3;
  padding: 15px 0;
  color: #7e7e7e;
  flex-basis: 100%;
}

.bar-footer-dev-container {
  padding: 5px 0;
  flex-basis: 100%;
  text-align: center;
  max-height: 30px;
  color: rgb(223, 223, 223);
}

.bar-footer-dev-container a {
  color: white;
}

.bar-footer-dev-container a:hover {
  color: #f1f0f0;
}

.bar-footer-dev-container a {
  margin: 0;
  padding: 0;
}

.bar-footer-white {
  display: flex;
  justify-content: space-between;
}

.footer-bar-items {
  display: flex;
}

.footer-bar-items > div {
  margin: 0 5px;
}
.cars-icons-img {
  padding: 10px 0 0 25px;
}

/* efecto line hover */
.footer-content a:hover hr {
  display: block;
  width: calc(100% - 25px);
  transition: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}

.footer-content hr {
  width: 0px;
  position: absolute;
  height: 2px;
  color: #fff;
  bottom: -16px;
  left: 27px;
  opacity: unset;
}

/* RESPONSIVE */
@media screen and (max-width: 1280px) {
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
  .padding-contactos {
    padding: 0 0 0 23px;
  }
}
@media screen and (max-width: 640px) {
}
