.iconsContenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px  0 409px 0;
  z-index: 300;
  /* background-color: rgb(227, 247, 248); */
}

.iconsContenedor .iconsImg-info {
  display: grid;
  grid-template-columns: repeat(2 , auto);
  /* grid-template-columns: repeat(2, minmax( min-content , 200px)); */
  justify-content: center;
  justify-items: center;
  gap: 10px;
  max-width: 95%;
}



.iconsImg {
  display: grid;
  grid-template-columns: repeat(7 , minmax(min-content , 135px));
  gap: 4px;
  text-align: center;
}

.iconsImg > div {
  /* background-color: turquoise; */
  padding: 10px;
  border-radius: 10px;
  box-shadow: -2px 3px 5px rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.712);
}


.iconsImg-info img {
  min-width: 15px;
  width: 100px; 
  /* display: none; */
}

.iconsImg .tituloIcons {
  grid-column: span 7;
}

.iconsImg-info .iconsImg .tituloIcons img {
  width: 210px;
}

.ceraInfo {
  display: flex;
  max-width: 230px;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.712);
  border-radius: 10px;
  padding: 10px;
  box-shadow: -2px 3px 5px rgba(0, 0, 0, 0.3);
  /* grid-column: span 1; */
}

.botonesCeraInfo a {
  display: inline-block;
  text-decoration: none;
  /* padding: 6px 20px; */
  padding: 5px 0;
  border-radius: 1rem;
  color: rgb(37, 37, 37);
  width: 100px;
  margin: 3px 0;
  font-size: 12px;
}

.botonesCeraInfo a:hover {
  -webkit-filter: contrast(150%);
  filter: contrast(150%);
}

.botonesCeraInfo a:nth-child(1) {
  background-color: rgb(241, 241, 125);
}

.botonesCeraInfo a:nth-child(2) {
  background-color: salmon;
}

.botonesCeraInfo a:nth-child(3) {
  background-color: rgb(150, 213, 250);
}
