.container-servicios {
  font-family: 'Poppins', sans-serif;
  line-height: 25px !important;
  color: rgb(97, 97, 97);
  font-size: 15px;
}

.title-body-img {
  background-color: #f3f3f3;
  color: rgb(49, 49, 49);
  width: 100%;
  text-align: center;
  margin: 10px 0;
}

.img-servicio img {
  object-fit: cover;
}

.title-body-img p {
  font-size: 15px;
  padding: 3px 0;
}

.title-seo h4 {
  font-size: 25px;
  color: #353535;
  margin: 0;
}

.descuento-note {
  margin: 0;
  padding: 0;
}

.descuento-note p {
  display: inline-block;
  background-color: var(--base);
  margin: 0;
  border-radius: 5px;
  padding: 2px 18px;
  color: #fff;
}

.title-body {
  color: rgb(49, 49, 49);
}

.texto-desc-body {
  text-align: justify;
}

.texto-desc-body {
}

.texto-desc-body hr {
  color: #ffffff !important;
}

.items-links {
  background-color: #fff6f6;
  position: sticky;
  top: 150px;
  margin-left: 10px;
  max-width: 250px;
}

.items-links hr {
  color: #a1a1a1;
  margin: 0;
  /* margin: 3px 0; */
}

.items-links a {
  display: inline-block;
  padding: 14px 10px;
  color: var(--base);
}

.items-links a:hover {
  color: var(--base);
  text-decoration: underline;
}

.view-active {
  background-color: #fde6e6 !important;
  font-weight: bold;
}

.note-card {
  box-shadow: var(--sombra);
  background-color: #f5f5f5;
}
.note-card p {
  line-height: 5px;
  color: #6d6d6d;
}

.servicios-responsive {
  display: none;
  background-color: #fff;
}

/* RESPONSIVE */
@media screen and (max-width: 1280px) {
}
@media screen and (max-width: 1000px) {
  .note-card p {
    line-height: 16px;
  }

  .margin-x {
    margin: 0 2px;
  }

  .padding-xy {
    padding: 25px 10px;
  }

  .p-0 {
    padding: 0;
  }

  .title-seo h4 {
    font-size: 17px;
  }

  .descuento-note p {
    font-size: 13px;
  }

  .servicios-enlaces {
    display: none !important;
  }

  .servicios-responsive {
    display: block;
  }

  .servicios-items {
    background-color: #fff6f6;
    padding: 14px 10px;
    text-align: center;
    min-width: 100% !important;
    width: 100% !important;
    margin: 0;
  }

  .servicios-items a {
    color: var(--base);
    margin: 0;
  }

  .servicios-items a:hover {
    color: var(--base);
    text-decoration: underline;
  }

  .servicios-items-box hr {
    margin: 0 !important;
  }
}

@media screen and (max-width: 768px) {
}
@media screen and (max-width: 640px) {
}
