/* .ul-nav {
  margin-left: auto;
} */
:root {
  --fondo: rgb(245, 224, 227);
  --general: #e8908b;
}

.navbar {
  position: fixed;
  /* background-color: var(--general); */
  top: 0;
  width: 100%;
  z-index: 100;
}

.logo img {
  margin: 10px;
  position: fixed;
  top: 0;
  width: 200px;
  z-index: 101;
}

.nav-item {
  margin: 0 20px 0 20px;
}

.cajaPrincipal {
  display: flex;
  background: var(--fondo);
  /* background-color: var(--general); */
  width: 100%;
  overflow: hidden;
  background-image: url(../img/lineas\ cuervadas.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.cajaDatos-caja {
  display: flex;
  flex-direction: column;
  /* background-color: var(--general); */
  text-align: center;
}

.reservas-caja {
  display: flex;
  /* background-color: #a0004d; */
  flex-direction: column;
  top: -100px;
  justify-content: center;
  align-items: flex-end;
  /* background-color: salmon; */
  flex-grow: 1;
}

.reservas-caja div:only-of-type {
  position: relative;
  top: -100px;
  /* background-color: aqua; */
}

.reservas-caja input {
  border: none;
  border-radius: 8px;
}

.reservar-boton {
  display: flex;
  justify-content: center;
}

#tituloDepilPro {
  animation: depilPro 1s;
  animation-timing-function: ease-in;
  opacity: 1;
  animation-direction: reverse;
}

.conCera {
  margin-top: -40px;
  transform: rotate(-1deg);
}

.conCera img {
  max-width: 350px;
}

#tituloDepilPro img {
  /* background-color: salmon; */
  margin: 0;
  width: 30rem;
}

@keyframes depilPro {
  100% {
    transform: translateY(-150%);
    opacity: 0;
  }
}

#tituloDepilPro h3 {
  font-family: 'Poiret One', cursive;
  font-size: 100px;
  line-height: 80px;
  color: var(--colorCorpotativo);
}

.background-mujer {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  /* background-color: royalblue;  */
}

.background-mujer img {
  max-width: 900px;
  margin-left: 2rem;
  animation: foto-mujer 0.9s;
  animation-direction: reverse;
  animation-timing-function: ease-in-out;
  /* flex-grow: 1; */
}

@keyframes foto-mujer {
  100% {
    transform: translateX(100%);
  }
}

#linkAgendar {
  margin-top: 35px;
  animation: botonesAgendar 1.5s;
  opacity: 1;
  animation-direction: reverse;
  animation-timing-function: ease-in;
  height: auto;
}

#linkAgendar a {
  display: inline-flex;
  width: 160px;
  height: 42px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 1rem;
  cursor: pointer;
}

#linkAgendar a:nth-child(1) {
  background: var(--general);
  color: white;
  font-weight: 500;
  cursor: pointer;
}

#linkAgendar a:hover:nth-child(1) {
  background: #db7a74;
  cursor: pointer;
}

#linkAgendar a:nth-child(2) {
  border: 3px solid #72c1b7;
  color: #72c1b7;
  font-weight: 500;
  cursor: pointer;
}

#linkAgendar a:hover:nth-child(2) {
  border: 3px solid #61b9ad;
  color: #61b9ad;
  cursor: pointer;
}

.cajaDatos-caja p {
  margin-top: 10px;
  margin-bottom: 35px;
  color: #a0004d;
}

.cajaDatos-caja img {
  width: 200px;
}

.cajaDatos-caja span {
  font-size: 21px;
  font-weight: 600;
  font-family: 'Poiret One', cursive;
}

.ajustarAlert {
  display: flex;
  justify-content: center;
}

.alert-danger {
  position: absolute;
  top: 58px;
}

.planta img {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 300px;
}

@keyframes botonesAgendar {
  100% {
    opacity: 0;
  }
}

.pintarNav {
  border-bottom: 2px solid #a0004d;
}

/* =============================FOOTER=============================== */
.boxFooter {
  /* display: flex; */
  justify-content: center;
  background-color: #ce3232;
  width: 100%;
  bottom: 0;
  height: 50px;
  position: absolute;
  display: none;
  align-items: center;
}

.boxFooter footer {
  color: #f6e1eb;
}

/* 
.footer {
  position: absolute;
  bottom: 0;
} */
/* ================================================================= */

@media (max-width: 1485px) {
  #tituloDepilPro h3 {
    margin-left: 50px;
  }
}

@media (max-width: 993px) {
  .background-mujer {
    display: none;
  }

  .reservas-caja {
    /* position: relative; */
    align-items: center;
    justify-content: center;
    /* background-color: #a0004d; */
  }
}

@media (max-width: 600px) {
  .navbar {
    box-shadow: 5px 5px 5px rgba(5, 5, 5, 0.1);
  }

  #tituloDepilPro h3 {
    margin-left: auto;
    font-size: 65px;
    line-height: 70px;
  }
}
