html {
  height: 100%;
  height: 100vh;
}

body {
  min-height: 100vh;
  font-family: 'Raleway', sans-serif;
  background-color: #f3f3f3 !important;
}

:root {
  --fondo: #f5e0e3;
  --general: #e8908b;
  --amarillo: #ffffa6;
  --celeste: #96e6e2;
  --rojoSuave: #ffb7b7;
  --amarilloText: #f6e330;
  --celesteText: #3ddbd3;
  --rojoText: #fa8072;
}

.cajaPrincipal {
  background-image: url(../img/backgroundIndex.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 630px;
}

#agendarCumpleaniero {
  cursor: pointer;
}
