:root {
  --fondo: rgb(245, 224, 227);
  --general: #e8908b;
  --amarillo: rgb(255, 255, 166);
  --celeste: rgb(150, 230, 226);
  --rojo: rgb(250, 173, 173);
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

.logo img {
  margin: 10px;
  position: fixed;
  top: 0;
  left: 6%;
  width: 230px;
  z-index: 101;
}

.navbar {
  position: fixed;
  width: 100%;
  transition: all 0.5s ease-in-out;
  z-index: 100;
  /* background-color: rgba(253, 144, 144); */
}

.navbarBackground {
  background-color: var(--general);
}

.nav-item a {
  color: white !important;
  font-weight: 500;
}

.nav-item {
  margin: 0 20px 0 20px;
  color: white;
}

.cajaPrincipal {
  background-color: var(--fondo);
  border-top: 1px solid transparent; /* Cuando le puse un margin a un de sus hijos tambien fue afectado el div padre es decir este, y para solucionar eso se pone esta linea. https://es.stackoverflow.com/questions/155171/duda-b%C3%A1sica-con-margin-padre-e-hijo-css */
  background-image: url(../img/background-female.jpg);
  background-size: cover;
  display: flex;
  background-attachment: fixed;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  animation-name: fondo;
  /* animation-delay: 5s; */
  animation-iteration-count: infinite;
  animation-duration: 16s;
}

@keyframes fondo {
  0% {
    background-image: url(../img/background-female.jpg);
  }

  25% {
    background-image: url(../img/background-female.jpg);
  }

  50% {
    background-image: url(../img/bacgrkound-male.jpg);
  }

  75% {
    background-image: url(../img/bacgrkound-male.jpg);
  }

  100% {
    background-image: url(../img/background-female.jpg);
  }
}

/* BOTONES DE AGENDAR Y CONOCENOS E INFO */
.datosMain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.datosMain h1 {
  color: rgb(255, 255, 255);
  font-size: 80px;
  text-align: center;
  line-height: 70px;
  font-weight: 600;
  margin: 0;
}

.datosMain h2 {
  /* color: rgb(80, 78, 78); */
  color: white;
  font-size: 15px;
  text-align: center;
  margin-top: 15px;
  font-weight: 500;
}

.reservas-caja {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 58px;
}

.linkAgendar a {
  display: inline-flex;
  width: 160px;
  height: 42px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 1rem;
  cursor: pointer;
}

.linkAgendar a:nth-child(1) {
  background: #f58882;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.linkAgendar a:hover:nth-child(1) {
  background: #db7a74;
  cursor: pointer;
}

.linkAgendar a:nth-child(2) {
  border: 3px solid #72c1b7;
  color: #72c1b7;
  font-weight: 500;
  cursor: pointer;
}

.linkAgendar a:hover:nth-child(2) {
  border: 3px solid #61b9ad;
  color: #61b9ad;
  cursor: pointer;
}
/* FIN BOTONES DE AGENDAR Y CONOCENOS */

.cajaDatos-caja p {
  margin-top: 10px;
  margin-bottom: 35px;
  color: #a0004d;
}

.cajaDatos-caja img {
  width: 200px;
}

.cajaDatos-caja span {
  font-size: 21px;
  font-weight: 600;
  font-family: 'Poiret One', cursive;
}

.ajustarAlert {
  display: flex;
  justify-content: center;
}

.alert-danger {
  position: absolute;
  top: 58px;
}

/* ======= SECCION DE RESERVA - FOOTER - INFROMACION ==============*/

/* ===========FORMULARIO================= */
#registrarReserva input,
select {
  width: 100%;
  height: 50px;
  border: none;
  border-bottom: 2px solid rgb(156, 156, 156);
  background: none;
  font-weight: 500;
}

#registrarReserva label {
  color: rgb(102, 101, 101);
}

#registrarReserva > div > label > span {
  color: rgb(238, 74, 74);
  /* background-color: red; */
}

#registrarReserva > div > p {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}

#registrarReserva > div > p > span {
  font-size: 20px;
}

.reserva h5 {
  font-size: 30px;
  margin: 0;
}

.reserva p {
  color: var(--letras);
}

.errDatos {
  color: rgb(246, 151, 151);
  font-size: 13px;
}
/* ===========FIN FORMULARIO================= */

.horariosAtenconChild {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 8px;
  gap: 8px;
}

.horariosAtenconChild > div {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.horariosReserva .horariosAtenconChild > div > h6,
.horariosReserva .horariosAtenconChild > div > p {
  margin: 0;
}
.datosReserva .horariosAtenconChild p {
  background: none;
}

.horariosAtenconChild div:nth-child(3) {
  grid-column: span 2;
}

.agendarBoton > button {
  display: flex;
  justify-content: center;
  align-content: center;
  border: none;
  border-radius: 10px;
  padding: 10px 25px;
  background-color: var(--celeste);
  color: rgb(75, 75, 75);
  font-weight: 500;
  max-height: 40px;
}

.agendarBoton span {
  padding: 0;
  margin: -3px;
}

.background {
  background-image: url(../img/backgroundDos-01.svg);
  background-size: cover;
  background-clip: padding-box;
  /* background-attachment: fixed; */
}

.reservarHBS {
  /* display: none; */
  display: none;
  background-image: url(../img/background-reserva-02.png);
  background-size: cover;
  justify-content: center;
}

.divReservaGrid {
  display: grid;
  width: 70%;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 100%;
  gap: 0.5em;
  padding: 100px 0;
  min-width: 1060px;
  align-self: center;
}

.divReservaGrid > div,
form {
  border-radius: 10px;
}

/* =========RESERVA GRID============== */
#registrarReserva {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: span 3;
  background-color: rgba(255, 255, 255, 0.712);
  box-shadow: -2px 3px 5px rgba(0, 0, 0, 0.3);
  gap: 20px;
  padding: 15px;
  /* height: 100%; */
}

.reserva {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  grid-column: span 3;
  /* background-color: var(--celeste); */
  border-radius: 50px;
}

.agendarBoton {
  display: flex;
  grid-column: span 3;
  /* background-color: brown; */
  justify-content: center;
  align-content: center;
  margin: 0;
}

.datosReserva {
  display: grid;
  grid-template-columns: 100%;
  /* grid-auto-rows: minmax(40px, auto); */
  grid-template-rows: repeat(5, 1fr) auto;
  grid-column: span 2;
  /* padding: 20px; */
  gap: 10px 0;
}

.datosReserva > div {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: -2px 3px 5px rgba(0, 0, 0, 0.3);
  height: auto;
}

.datosReserva > div > h5 {
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(77, 76, 76);
  font-size: 17px;
}

.horariosReserva {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr;
  /* height: 190px; */
  background-color: rgba(243, 245, 214, 0.815);
  grid-row: span 2;
}

.horariosAtenconChild .horariosExtendidos {
  /* background-color: rgb(241, 238, 238); */
  font-size: 12px;
}

.datosReserva .horariosReserva h5 {
  margin: 0;
}

.ubicacionReserva {
  background-color: rgb(212, 248, 246);
  grid-row: span 3;
}

.covid19Reservar {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr;
  background-color: rgba(255, 255, 255, 0.733);
}

.covid19Reservar h5 {
  background-color: var(--rojo);
  margin: 0;
}

.horariosReserva h5 {
  background-color: var(--amarillo);
}

.ubicacionReserva h5 {
  background-color: var(--celeste);
  margin: 0;
}

.imgResera {
  background-image: url(../img/background-local.png);
  background-size: cover;
}

/* ==========MEDIADAS DE SEGURIDAD================= */
.covid19Reservar .covid19 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.datosReserva .covid19Reservar .covid19 img {
  display: block;
  width: 100%;
  padding: 10px 15px;
}
/* ==========FIN MEDIADAS DE SEGURIDAD================= */
/* ======= FIN SECCION DE RESERVA - INFROMACION ==============*/

@keyframes botonesAgendar {
  100% {
    opacity: 0;
  }
}

.pintarNav {
  border-bottom: 2px solid white;
}

@media (max-width: 1485px) {
  #tituloDepilPro h3 {
    margin-left: 50px;
  }
}

@media (max-width: 993px) {
  .background-mujer {
    display: none;
  }

  .reservas-caja {
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .navbar {
    box-shadow: 5px 5px 5px rgba(5, 5, 5, 0.1);
  }

  #tituloDepilPro h3 {
    margin-left: auto;
    font-size: 65px;
    line-height: 70px;
  }
}
