.navbar {
  position: sticky;
  transition: all 0.3s ease-in-out;
  background-color: var(--base);
  z-index: 5000;
  top: 0;
  top: 0;
  min-height: 140px !important;
  font-size: 15px;
}

.pintarNav {
  border-bottom: 2px solid #fff;
}

.logo img {
  margin: 10px;
  position: fixed;
  top: 0;
  left: 6%;
  width: 230px;
  z-index: 600;
}

.container-navbar {
  z-index: 500;
}

.navBarCirulos {
  z-index: 100;
  opacity: 0.9;
  position: absolute;
  right: 0px;
  height: 140px;
}

.navBarCirulos img {
  width: 100%;
  height: 100%;
}

.navbarBoxShadow {
  border-bottom: 3px solid var(--rojoSuave);
  box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.3);
}

.nav-item a {
  position: relative;
  color: white !important;
  font-weight: 500;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  color: white;
}

.nav-item hr {
  width: 0px;
  position: absolute;
  left: 0;
  height: 2px;
  color: #fff;
  bottom: -16px;
  opacity: unset;
}

.nav-item a:hover hr {
  display: block;
  width: calc(100%);
  transition: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}

/* ================ NAV CONTACTS ========== */
.__mainNavContact {
  background-color: var(--baseLess);
  padding: 5px 0;
  /* height: 50px; */
}

.mainNavContact {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.datosContacto {
  display: flex;
  justify-content: center;
  align-items: center;
}

.datosContacto p {
  margin: 0 2px;
}

.title-count {
  border-radius: 5px 0 0 5px;
  padding: 8px 10px;
  font-size: 15px;
  color: var(--base);
  background-color: #fff;
  border-left: 5px solid var(--base);
  box-shadow: var(--sombra);
}

.count-down-align {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: white;
  max-width: min-content;
  border-radius: 5px;
  box-shadow: var(--sombra);
  text-align: center;
}

.count-down-align div:first-child {
  position: relative;
  left: -5px;
  padding: 5px 8px;
  color: #fff;
  background-color: var(--base);
  font-weight: bold;
  font-size: 16px;
  box-shadow: var(--sombra);
  min-width: 35px;
  max-width: 35px;
}

.count-down-align div:first-child::after {
  content: 'DIAS';
  position: absolute;
  bottom: 0;
  left: 6px;
  font-size: 10px;
}

.count-down-align div:nth-child(2) {
  color: var(--base);
  padding: 5px 10px 5px 0;
  font-weight: bold;
  font-size: 20px;
  border-bottom: 1px solid #dfdfdf;
  min-width: 94px;
  /* max-width: 115px; */
}

.p_valida_responsive {
  display: none;
  grid-column: span 2;
}

.p_valida_responsive p {
  font-size: 10px;
}

/* dropdown - mas */
.menu {
  background-color: rgb(247, 247, 247) !important;
  border: none !important;
  box-shadow: none !important;
}
.menu:hover {
  box-shadow: var(--sombra);
}

.menu a {
  color: var(--base) !important;
}

/* RESPONSIVE */
@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1024px) {
  .nav-item {
    justify-content: flex-start;
    padding: 10px;
  }

  .img-nav {
    padding: 30px 20px;
  }

  .navBarCirulos {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .__mainNavContact {
    padding: 8px 0;
  }

  .title-count {
    display: none;
  }

  .count-down-align {
    box-shadow: var(--sombra);
    overflow: hidden;
  }

  .count-down-align div:first-child {
    font-size: 14px;
    left: 0;
    box-shadow: none;
  }

  .count-down-align div:nth-child(2) {
    padding: 3px 5px 3px 0;
    font-size: 17px;
  }

  .count-down-align div:first-child::after {
    content: 'DIAS';
    position: absolute;
    bottom: -3px;
    left: 8px;
    font-size: 8px;
  }

  .p_valida_responsive {
    display: block;
  }

  .title-count {
    display: none;
  }
}

@media screen and (max-width: 640px) {
}
