body {
  background-color: #fff !important;
}

.container-pages {
  display: flex;
  justify-content: center;
}

.body-content {
  max-width: 500px;
}

.header-logo {
  background-color: #ef7673;
}

.header-logo img {
  width: 100%;
  padding: 100px 80px;
}

.over-block {
  margin-top: -25px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 30px 10px;
  background-color: #cbd5df;
}

.over-block h4 {
  text-align: center;
  color: #3b3b3b;
}

.over-block p {
  color: #474747;
  text-align: center;
  font-size: 15px;
}

.items-content hr {
  margin: 0;
}

.item-all {
  padding: 20px;
  display: flex;
}

.item-all h5 {
  margin: 0;
}

.item-all p {
  color: #777777;
}

.txt-pages {
  display: flex;
  padding: 0 10px;
  justify-content: center;
  flex-direction: column;
}

.icon-pages {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  /* background-color: red; */
  border-radius: 50px;
  overflow: hidden;
}

.icon-pages i {
  font-size: 30px !important;
}

.items-content a {
  color: #303030;
}

.items-content a:hover {
  color: #303030;
}

/* .margin-z {
  margin: 20px 0;
}

.padding-botton p {
  padding-bottom: 10px;
}

.container-main-color {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-main-color p {
  margin: 0;
  margin: 18px 0;
}

.container-main-color .green {
  background-color: #19a119;
  color: white;
}

.container-main-color .green a {
  background-color: white;
}

.container-main-color .black {
  background-color: #fa6e6c;
  color: white;
}

.container-main-color .black a {
  background-color: white;
}

.container-main-color div {
  font-weight: bold;
  text-decoration: none;
  color: #424242;
  background-color: #ffffff;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 3px;
  padding: 15px 10px;
  margin: 4px 0;
  border-radius: 10px;
  max-width: 500px;
  width: 94%;
}

.container-main-color a {
  box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 3px;
  padding: 10px;
  margin: 4px 0;
  border-radius: 10px;
  max-width: 500px;
  color: #424242;
  display: block;
}

.container-main-color a:hover {
  text-decoration: none;
  color: #424242;
  transform: scale(1.01);
  background-color: rgb(248, 248, 248);
}

.container-main-color p {
  font-weight: 100;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mision_2022 {
  background: none !important;
  max-width: 500px;
  background-color: rgb(255, 255, 255) !important;
  border-radius: 4px;
  padding: 15px;
}

.mision_2022 p {
  text-align: justify !important;
  margin: 0 !important;
  color: #2e2e2e;
}

.garantia_2022 {
  background-color: #636363 !important;
  margin: 20px 0 0 0 !important;
}

.garantia_2022 p {
  text-align: center;
  margin: 0;
  color: #fff;
  font-size: 10px;
  padding: 0 !important;
}

.header h4 {
  color: white;
  margin: 0;
}

.header p {
  color: white;
}

.header-desc p {
  text-align: center;
  margin: 0;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.img-logo-box {
  margin: 30px 0 0px 0;
}

.header img {
  max-width: 100px;
  display: inline-block;
}

.icons-redes {
  margin: 15px 0;
}

.icons-redes i {
  font-size: 20px !important;
  color: #fff;
}

.header-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 25px 0;
  color: #fff;
} */
