.redesSocialesIcons {
  display: flex;
}

.redesSocialesIcons > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  color: #f37e78;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: white;
  margin: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.redesSocialesIcons > div > div {
  width: 17px;
  height: 17px;
  margin-bottom: 1px;
  margin-left: -2px;
}

.redesSocialesIcons i {
  color: #f37e78;
  font-size: 16px !important;
}
