:root {
  --colorFondo: #e8908b;
  --colorInputs: #ec99c1;
  --colorCoorporativo: #e8908b;
  --bordes: #504f4f;
  --rosaFuerte: #e8908b;
}

.cajaMainReservar {
  display: none;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: white;
  border-radius: 5px;
  box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.2);
}

.cajaMainReservar label {
  color: var(--colorCoorporativo);
  font-weight: 450;
}

.cajaSegundaReservar {
  border-radius: 7px;
  display: flex;
  flex-direction: column;
}

.cajaMainReservarDeslizar {
  animation: ocultarReserva 0.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.cajaMainReservarDeslizarDatos {
  animation: ocultarReservaDatos 0.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.datosReservaBox {
  position: absolute;
  background-color: rgba(165, 42, 42, 0.616);
  width: 100%;
  height: 100%;
  left: 100%;
}

@keyframes ocultarReservaDatos {
  100% {
    transform: translateX(-100%);
  }
}

@keyframes ocultarReserva {
  100% {
    transform: translateX(-100%);
  }
}

.cajaDatosLocalesServicios :nth-child(1) {
  display: inline-block;
}

.cajaDatosLocalesServicios :nth-child(2) {
  display: inline-block;
}

.cajaDatosLocalesServicios .locales select {
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.164);
}

.cajaDatosLocalesServicios .serviciosSelect select {
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.164);
}

.cajaDatosLocalesServicios select {
  border-radius: 5px;
  width: 200px;
  height: 35px;
  color: var(--bordes);
}

.reserva {
  font-weight: 500;
  display: flex;
  height: auto;
  background-color: #e8908b;
  justify-content: center;
  align-items: center;
}

.reserva p {
  padding: 15px;
  margin: 0;
}

.cajaDatosHoraFecha input {
  width: 200px;
  height: 35px;
  /* border: 2px solid var(--bordes); */
  border-radius: 5px;
  border: none;
  color: var(--bordes);
}

textarea.cajaDatosHoraFecha {
  /* border: 3px solid orangered; */
  border: none;
}

.cajaDatosHoraFecha :nth-child(1) {
  display: inline-block;
}

.cajaDatosHoraFecha :nth-child(2) {
  display: inline-block;
}

.cajaDatosHoraFecha .hora input {
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.164);
}

.cajaDatosHoraFecha .fecha input {
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.164);
}

.locales label {
  margin: 15px 25px;
}

.serviciosSelect label {
  margin: 15px 25px;
}

.hora label {
  margin: 15px 25px;
}

.fecha label {
  margin: 15px 25px;
}

.reservarHBS {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-image: url('../img/bacgrkound.jpg'); */
  background-color: rgb(245, 224, 227);
  opacity: 100px;
}

/* .reservarBox {
  background-color: aqua;
} */

.datoNombres {
  display: inline;
}
.datoEmail {
  display: inline;
}
.datoNum {
  display: inline;
}

.cajaMainDatos {
  text-align: center;
}

.cajaMainDatos button {
  display: block;
}

.material-icons {
  padding: 15px;
}

.material-icons span {
  background: var(--colorFondo);
  padding: 10px;
  border-radius: 50%;
  color: white;
  float: right;
  cursor: pointer;
}
