body {
  margin: 0;
}

:root {
  --fondo: rgb(245, 224, 227);
  --general: #e8908b;
  --amarillo: rgb(255, 255, 166);
  --celeste: rgb(150, 230, 226);
  --rojo: rgb(250, 173, 173);
  --letras: rgb(119, 119, 119);
}
/* ==================FORMULARIO============= */
#registrarReserva input,
select {
  width: 100%;
  height: 50px;
  border: none;
  border-bottom: 2px solid rgb(156, 156, 156);
  background: none;
  font-weight: 500;
}

#registrarReserva label {
  color: rgb(102, 101, 101);
}

#registrarReserva > div > label > span {
  color: rgb(238, 74, 74);
  /* background-color: red; */
}

#registrarReserva > div > p {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}

#registrarReserva > div > p > span {
  font-size: 20px;
}

.reserva h5 {
  font-size: 30px;
  margin: 0;
}

.reserva p {
  color: var(--letras);
}

.errDatos {
  color: rgb(246, 151, 151);
  font-size: 13px;
}

.horariosAtenconChild {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 8px;
  gap: 8px;
}

.horariosAtenconChild > div {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.horariosReserva .horariosAtenconChild > div > h6,
.horariosReserva .horariosAtenconChild > div > p {
  margin: 0;
}
.datosReserva .horariosAtenconChild p {
  background: none;
}

.horariosAtenconChild div:nth-child(3) {
  grid-column: span 2;
}

.agendarBoton > button {
  display: flex;
  justify-content: center;
  align-content: center;
  border: none;
  border-radius: 10px;
  padding: 10px 25px;
  background-color: var(--celeste);
  color: rgb(75, 75, 75);
  font-weight: 500;
}

.agendarBoton span {
  padding: 0;
  margin: -3px;
}

/* ================FIN FORMULARIO=========== */
