.container-card-reserve {
  background-color: var(--fondo);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.container-card-reserve img {
  width: 70px !important;
  position: absolute !important;
  border-radius: 5px;
}
.title-header-card {
  padding: 20px 0;
  /* background-color: aqua; */
}

.header,
.meta {
  text-align: center;
}

.ui-card-reserva .card {
  min-width: 800px;
}

.description-reserva table {
  width: 100%;
  border-collapse: collapse;
}
.description-reserva table td {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(212, 212, 212);
  padding: 5px;
}
.content i {
  margin: 0 1px !important;
}

.recomendaciones-content {
  /* background-color: rgb(233, 233, 233); */
  border: 1px solid rgb(179, 179, 179);
  text-align: justify;
  padding: 8px;
  margin: 5px 0 5px 0;
  border-radius: 5px;
}
.txt-cancelarReagendar {
  background-color: rgb(255, 238, 238);
  text-align: center;
  padding: 8px;
  border-radius: 5px;
  margin: 0 0 5px 0;
}
.recomendaciones-content a {
  color: rgb(145, 145, 145) !important;
}

.recomendaciones-content a:hover {
  color: rgb(88, 88, 88) !important;
}

.txt-puntualidad {
  background-color: rgb(233, 233, 233);
  text-align: center;
  padding: 8px;
  border-radius: 5px;
  margin: 0 0 5px 0;
}
