:root {
    --fondo: rgb(245, 224, 227);
    --general: #e8908b;
    --amarillo: rgb(255, 255, 166);
    --celeste: rgb(150, 230, 226);
    --rojo: rgb(250, 173, 173);
    --letras: rgb(119, 119, 119);
    --negro : rgb(56, 56, 56);
    --sombra : 2px 2px 2px rgba(0,0,0,0.2);
  }

  body{
    background-color: var(--fondo) !important;
  }

  .__datosReservaContenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    padding: 30px 0;
    text-align: center;
  }

  .__datosReservaContenedor h1 ,.__datosReservaContenedor p{
    margin: 0;
  }

  .__datosReservaContenedor h1 {
    font-family: 'Courgette', cursive;
    color: salmon;
  }

  .__datosReservaContenedor h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
  }


  ._datosReservaChild{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2 , minmax( min-content , auto ));
    /* text-align: center; */
    /* padding: 30px; */
    border-radius: 1em;
    box-shadow: var(--sombra);
    gap: 30px;
    overflow: hidden;
  }

  ._videoReserva {
    width: 250px;
    /* background-color: red; */
  }

  ._videoReserva img{
    width: 100%;
    height: 100%;
  }

  ._brillarasMasSol{
    /* background-color: red; */
    padding: 30px;
  }

  ._datosDeReserva {
    padding: 15px 25px;
    background-color: rgb(240, 240, 240);
    /* display: inline-block; */
    border-radius: 5px;
  }


  ._linksReserva a{
    display: inline-block;
    border-radius: 15px;
    text-decoration: none;
    color: white;
    background-color: salmon;  
    padding: 5px 10px;
    font-weight: 500;
    margin: 15px 1px;
  }

  ._linksReserva a:hover{
    background-color: rgb(246, 142, 142);
    color: white;
    text-decoration: underline;
  }


  /* ========================================= */
  /* ================PRODUCTOS================ */
  /* ========================================= */

  .__productosTipsContenedor {
    /* background-color: red; */
    display: flex;
    justify-content: center;
    padding: 10px 0 360px 0;
  }
  

  ._productosTipsContenedorChild {
    display: grid;
    grid-template-columns: repeat(3 , minmax( min-content , 200px ) );
    gap: 15px;
  }

  ._productosTipsContenedorChild > div{
    display: flex;
    position: relative;
    /* background-color: rgb(119, 119, 119); */
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: var(--sombra);
  }



  .spanIcon{
    display: flex;
    position: absolute;
    background-color: var(--rojo);
    color: white;
    right: 0;
    bottom: 0;
    margin: 5px;
    padding: 10px;
    border-radius: 50%;
  }
  
  .spanIcon span{
    font-size: 16px;
    font-weight: 500;
  }


  
  .tituloReservaTips{
    /* background-color: rgba(0,0,0,0.2); */
    padding: 10px;
  }
    

  .imgReservaProductos{
    width: 250px;
  }

  .imgReservaProductos img{
    width: 100%;
    height: 100%;
  }
