<section class="confirmed-container">
    <div class="box-center-confirmed">

        <div class="title-box-confirmed">
            <h4>Por favor asegúrese de que sus datos hayan sido ingresados correctamente.</h4>
            <span>De lo contrario su cita sera anulada automáticamente.</span>
        </div>

        <div class="flex-items-confirmed">
            <div class="values-confirmed">
                <p>
                    Quito/Condado
                </p>
                <span>Lugar</span>
            </div>
            <div class="values-confirmed">
                <p>
                    Depilación con cera tibia
                </p>
                <span>Servicio</span>
            </div>
            <div class="values-confirmed">
                <p>
                    14-18-2154
                </p>
                <span>Fecha</span>
            </div>
            <div class="values-confirmed">
                <p>
                    05:20
                </p>
                <span>Hora</span>
            </div>
            <div class="values-confirmed">
                <p>
                    Katherine Roldan
                </p>
                <span>Nombres</span>
            </div>
            <div class="values-confirmed">
                <p>
                    0989131502
                </p>
                <span>Teléfono</span>
            </div>
            <div class="values-confirmed">
                <p>
                    12-45-5415
                </p>
                <span>Fecha nacimiento</span>
            </div>

            <hr>

            <div class="btn-reserve-confirmed">
                <button id="btn-editar-reserva">EDITAR
                    <i class="edit icon"></i>
                </button>
                <button id="btn-confirmed-reserva">CONFIRMAR CITA
                    <i class="check circle icon"></i>
                </button>
            </div>
        </div>


    </div>
</section>