<section class="confirmed-container" id="over-confirmed">
    <div class="box-center-confirmed">
        <i class="close icon icon-close" id="icon-close"></i>

        <div class="title-box-confirmed">
            <h4>
                {{!-- Por favor asegúrese de que sus datos hayan sido ingresados correctamente. --}}
                TE AGRADECEMOS SI AGENDAS TU CITA A NUESTRO NUMERO DE WHATSAPP
                <i class="check circle icon"></i>
            </h4>
            <span>Opción desactivada.</span>
        </div>

        <div class="flex-items-confirmed">



            <div class="values-confirmed">
                <p id="localConfirmed">
                    Campo vacío
                </p>
                <span>Lugar</span>
            </div>
            <div class="values-confirmed">
                <p id="servicioConfirmed">
                    Campo vacío
                </p>
                <span>Servicio</span>
            </div>
            <div class="values-confirmed">
                <p id="fechaConfirmed">
                    Campo vacío
                </p>
                <span>Fecha</span>
            </div>
            <div class="values-confirmed">
                <p id="horaConfirmed">
                    Campo vacío
                </p>
                <span>Hora</span>
            </div>
            <div class="values-confirmed">
                <p id="nombresConfirmed">
                    Campo vacío
                </p>
                <span>Nombres</span>
            </div>
            <div class="values-confirmed">
                <p id="telefonoConfirmed">
                    Campo vacío
                </p>
                <span>Teléfono</span>
            </div>
            <div class="values-confirmed">
                <p id="fechaNacimientoConfirmed">
                    Campo vacío
                </p>
                <span>Fecha nacimiento</span>
            </div>

            <hr>

            <div class="btn-reserve-confirmed">
                <button type="button" id="btn-editar-reserva">EDITAR
                    <i class="edit icon"></i>
                </button>
                <button type="button" id="btn-confirmed-reserva">CONFIRMAR CITA
                    <i class="check circle icon"></i>
                </button>
            </div>
        </div>


    </div>
</section>