<div class="cajaMainCotizarMujer">

    
    <div class="cajaCotizarCorporal">
            <div class="nombreCotizarCorporal"><h5>Corporal</h5></div>
        {{!-- 
            <div id="id1" data-precio="10" > Piernas </div>
            <div id="id3"  data-precio="10" >Piernas</div>
            <div id="id4"  data-precio="10" >Piernas</div>
            <div id="id5"  data-precio="10" >Piernas</div>
            <div id="id6"  data-precio="10" >Piernas</div>
            <div id="id7"  data-precio="10" >Piernas</div>
            <div id="id8"  data-precio="10" >Piernas</div>
            <div id="id9"  data-precio="10" >Piernas</div>
            <div id="id10" data-precio="10" >Piernas</div>
            <div id="id11" data-precio="10" >Piernas</div>
            <div id="id12" data-precio="10" >Piernas</div>
            <div id="id13" data-precio="10" >Piernas</div> --}}
    </div>


    
    <div class="cajaCotizarFacial">
            <div class="nombreCotizarFacial"><h5>Facial</h5></div>
     {{!-- 
            <div id="id1" data-precio="10" > Piernas </div>
            <div id="id3"  data-precio="10" >Piernas</div>
            <div id="id4"  data-precio="10" >Piernas</div>
            <div id="id5"  data-precio="10" >Piernas</div>
            <div id="id6"  data-precio="10" >Piernas</div>
            <div id="id7"  data-precio="10" >Piernas</div>
            <div id="id8"  data-precio="10" >Piernas</div>
            <div id="id9"  data-precio="10" >Piernas</div>
            <div id="id10" data-precio="10" >Piernas</div>
            <div id="id11" data-precio="10" >Piernas</div>
            <div id="id12" data-precio="10" >Piernas</div>
            <div id="id13" data-precio="10" >Piernas</div> --}}
    </div>

    
    <div class="totalCotizarCorporalFacial">
        <p class="imprimirValorTotalCotizarCorporalFacial">Total : 0</p>
        <button class="btnCotizarMujer">Agendar Cita</button>
    </div>

    
</div>