<section class="__cumpleaniosContainer">
    <div class="imgeCumpleanios">
        <img id="imgCumpleanios" src="../img/background-cumpleanios_tre.svg" alt="">
    </div>

    <div class="_datosCumpleanios">

        <h5>
            ¡HAPPY BIRTHDAY! 🎂

        </h5>
        <h6>POR TU CUMPLEAÑOS RECIBE EL 30% DE DESCUENTO EN TODOS NUESTROS SERVICIOS
            <a id="btn-event-agendar" data-desc="30% DE DESCUENTO" class="mini ui grey button ">
                AGENDAR CITA &nbsp
                <i class="calendar outline icon"></i>
            </a>
        </h6>
        <p>
            <i id="mesCumpleanios"></i>
        <div class="popup-cumpleanios"
            data-html="Estos datos fueron registrados por nuestros clientes por medio de nuestra app web o de forma presencial en uno de nuestros locales. Si deseas aparecer aquí, llena la fecha de nacimiento cuando agendes tu cita. 📩"
            data-position="top left" style="display:inline">
            <i class="question circle icon"></i>
        </div>
        </p>
    </div>

    <script>
        $('.popup-cumpleanios ')
            .popup({
                on: 'hover'
            });

    </script>


    <div class="cumpleanios-container-cards">
        {{#each cumpleanieros}}

        <div class="card-cumpleanios">
            <div class="card-content-img">
                <img class="left floated" src="{{ img }}">
            </div>

            <div class="card-content-cumpleanios">
                <div class="card-content-name">
                    <h4>{{ namesplit nombres }}</h4>
                    <i class="phone icon"></i>
                    <span class="text-secondary">
                        XXXXXX
                    </span>
                    <b>{{ sliceDate numeroTelefono}}</b>
                </div>

                <hr>

                <div class="text-secondary card-content-date">
                    <span class="right floated">
                        {{ fechaCumpleanios }}
                    </span>
                    <span>
                        <i class="birthday cake icon"></i>
                    </span>
                </div>
            </div>

        </div>
        {{/each}}
    </div>
    <span style="color: rgb(83, 83, 83); font-size :13px;">
        Unicamente por el día de tu cumpleaños recibe el 30% de descuento en todos nuestros servicios.
        <br>
        <b>
            NO OLVIDES LLEVAR LA CEDULA CONTIGO CUANDO NOS VISITES.
        </b>
    </span>




</section>