<div class="cajaMainDatos">


    <div class="datoNombres">
        <input type="text" name="nombres" placeholder="nombres">
    </div>
    <div class="datoEmail">
        <input type="email" name="email" placeholder="email">
    </div>
    <div class="datoNum">
        <input type="number" name="numeroCelular" placeholder="numero">
    </div>

    <button  type="submit">Agendar Cita</button>
    
    
    

    
</div>