    <div class="datoNombres">
        <label for="nombres">Nombres: <input type="text" name="nombres" ></label>
    </div>
    <div class="datoEmail">
        <label for="email">Email: <input type="email" name="email"></label>
    </div>
    <div class="datoNum">
        <label for="numeroTelefono">Celular: <input type="number" name="numeroCelular"></label>
    </div>

    <button  type="submit">Agendar

        <span class="material-icons">
        date_range
        </span>

    </button>

    <div class="material-icons-back">
    <span class="material-icons"> keyboard_arrow_right</span>
    </div>