<footer class="footer">
    <div class="footer-container">

        <div class="footer-column">
            <div class="footer-content-container">
                <div class="footer-title">
                    <h4>ENLACES</h4>
                    <hr class="hr">
                </div>
                <div class="footer-content">
                    <a href="#">
                        <i class="chevron right icon"></i>
                        Home
                        <hr>
                    </a>
                    <br>
                    <a href="#">
                        <i class="chevron right icon"></i>
                        Cotizar
                        <hr>
                    </a>
                    <br>
                    <a href="#">
                        <i class="chevron right icon"></i>
                        Contactos
                        <hr>
                    </a>
                    <br>
                </div>
            </div>
        </div>

        <div class="footer-column">
            <div class="footer-content-container">
                <div class="footer-title">
                    <h4>MAS...</h4>
                    <hr>
                </div>
                <div class="footer-content">
                    <a href="#">
                        <i class="check icon"></i>
                        Recomendaciones
                        <hr>
                    </a>
                    <br>
                    <a href="#">

                        <i class="meh outline icon"></i>
                        Contradicciones
                        <hr>
                    </a>
                </div>
            </div>
        </div>

        <div class="footer-column">
            <div class="footer-content-container">
                <div class="footer-title">
                    <h4>CONTACTOS</h4>
                    <hr>
                </div>
                <div class="footer-content">
                    <a href="#">
                        <i class="map marker alternate icon"></i>
                        Condado, frente a estdio de LDU
                        <hr>

                    </a>
                    <br>
                    <a href="#">
                        <i class="whatsapp icon"></i>
                        +593 989131502
                        <hr>
                    </a>
                    <br>
                    <a href="#">
                        <i class="envelope outline icon"></i>
                        depilcenter2021@gmail.com
                        <hr>
                    </a>
                    <br>
                    <a>
                        <i class="clock outline icon"></i>
                        Lun - Vier, 9AM - 6PM
                    </a>
                </div>
            </div>
        </div>

        <div class="footer-column">
            <div class="footer-content-container">
                <div class="footer-title">
                    <h4>INSTAGRAM FEED</h4>
                    <hr>
                </div>
                <div class="footer-content">
                    <<< TODO: AQUI VA UN GRID CON CONTENIDO DE INSTAGRAM>>>>
                </div>
            </div>
        </div>

        <div class="footer-column-icons">
            {{> redesSociales }}
        </div>

    </div>

    <div class="bar-footer-white-container">
        <div class="container bar-footer-white">
            <div>
                Todos los derechos reservados
            </div>
            <div class="footer-bar-items">
                <div>
                    Terminos
                </div>
                <div>
                    |
                </div>
                <div>
                    Privacidad
                </div>
            </div>
        </div>
    </div>

    <div class="bar-footer-dev-container">
        Desarrollado por
        <b>

            <a href='https://api.whatsapp.com/send?phone=593987318452&text=Hola,%20quiero%20informaci%C3%B3n.%20'
                target='_blank'>
                &lt; Alava Dev /&gt;
            </a>
        </b>
    </div>

</footer>