    
<form class="formulario_quienes_somos">
    <div class="escribenos_form">
        <h4>Escribenos</h4>
        <p>Preguntas, quejas , sugerencias</p>
    </div>
    
    <div>
        <input type="text" name="nombre_form" placeholder="Nombre">
    </div>
    
    <div>
        <input type="text" name="email_form" placeholder="Email">
    </div>

    <div>
        <textarea name="mensaje_form"  cols="20" rows="3" placeholder="Mensaje" ></textarea>
    </div>

    <div>
        <button type="submit">Enviar</button>
    </div>
    
</form>