{{> navContacts }}

<nav class="navbar navbar-expand-lg navbar-dark">

  <div class="navBarCirulos">
    <img src="../img/navBarCirulos.svg" alt="icon navbar">
  </div>

  <div class="container container-navbar">
    <a class="navbar-brand img-nav" href="/">
      <img width="220" src="../img/Depilcenter-logo.svg" alt="Logo depilcenter">
    </a>
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
        <li class="nav-item">
          <a class="nav-link active inicio" href="/">
            INICIO
            <hr>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link cotizar" href="/cotizar/depilacion-cera?genero=mujer">
            COTIZAR
            <hr>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link contactos" href="/contactos">
            CONTACTOS
            <hr>
          </a>
        </li>
        <li class="nav-item">
          <div class="ui simple dropdown item">
            MAS
            <i class="dropdown icon"></i>
            <div class="menu">
              <a href="/indicaciones" class="item">• Indicaciones</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>