<style>
    .nav-black {
        display: flex;
        justify-content: space-between;
        margin: 25px 0;
    }

    .box-black-logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img {
        width: 200px;
    }

    @media screen and (max-width: 768px) {
        img {
            width: 150px;
        }
    }
</style>
<div class="nav-black">
    <div class="box-black-logo">
        <a href="/">
            <img src="./img/logo_black.png" alt="Depilcenter - Centro de depilacion">
        </a>
    </div>
    <div>
        <div class="datosContacto">
            <p class="title-count">50% DE DESCUENTO - BLACK FRIDAY</p>
            <div class="count-down-align">
                <div>
                    <p id="countDownDays"></p>
                </div>
                <div>
                    <p id="countDown">
                </div>
                <div class="p_valida_responsive">
                    <p>
                        50% DE DESCUENTO
                    </p>
                </div>
            </div>
            </p>
        </div>
    </div>
</div>