<section class="__mainNavContact d-flex align-items-center">
    <div class="container mainNavContact">
        {{> redesSociales}}
        <div class="datosContacto">
            <p class="title-count">PROMOCIONES VALIDAS</p>
            <div class="count-down-align">
                <p id="countDownDays"></p>
                <p id="countDown">
            </div>
            </p>
        </div>
    </div>
</section>