<section class="__mainNavContact d-flex align-items-center">
    <div class="container mainNavContact">
        {{> redesSociales}}
        <div class="datosContacto">
            <div>
                <span class="material-icons">phone</span>
                <p>0989131502</p>
            </div>
            <div>
                <p>|</p>
            </div>
            <div>
                <span class="material-icons">email</span>
                <p>&nbsp&nbspcorreo@gmail.com</p>
            </div>
            <div>
                <p>|</p>
            </div>
            <div>
                <p>0989131502</p>
            </div>
        </div>
    </div>
</section>