<section class="__mainNavContact d-flex align-items-center">
    <div class="container mainNavContact">
        {{> redesSociales}}
        <div class="datosContacto">
            <p class="title-count">PROMOCIONES VALIDAS</p>
            <div class="count-down-align">
                <div>
                    <p id="countDownDays"></p>
                </div>
                <div>
                    <p id="countDown">
                </div>
                <div class="p_valida_responsive">
                    <p>
                        PROMOCIONES VALIDAS
                    </p>
                </div>
            </div>
            </p>
        </div>
    </div>
</section>