<section class="novedades-container-main">
    <div class=" novedades-center">

        <div class="ui cards items-cards">

            <div class="ui-card">
                <div class="circle-promo">
                    <p>NUEVO</p>
                </div>
                <div class="content-card">
                    <div class="card-header-ui">
                        <h4>AXILAS 2X1 ( Sábados )</h4>
                    </div>
                    <div class="card-meta">
                        Depilación definitiva
                    </div>
                    <div class="card-description">
                        <p>
                            • Precio normal: $320 <br>
                            • Nro sesiones: $8 <br>
                            • Promo: $160
                        </p>
                    </div>
                </div>
                <div class="btn-container">
                    <a href="#">Agendar</a>
                    <a href="#">Mas info</a>
                </div>
            </div>

            <div class="ui-card">
                <div class="circle-promo">
                    <p>NUEVO</p>
                </div>
                <div class="content-card">
                    <div class="card-header-ui">
                        <h4>ROSTRO COMPLETO</h4>
                    </div>
                    <div class="card-meta">
                        Depilación definitiva
                    </div>
                    <div class="card-description">
                        <p>
                            • Precio normal: $320 <br>
                            • Nro sesiones: $8 <br>
                            • Promo: $160
                        </p>
                    </div>
                </div>
                <div class="btn-container">
                    <a href="#">Agendar</a>
                    <a href="#">Mas info</a>
                </div>
            </div>


        </div>

    </div>
</section>