<section class="over-view-container">
    <img width="300" src="https://i.ibb.co/Xp9tf0Z/logo-sin-fondo-blanco-2022-04.png" style="margin: 10px 0;"
        alt="Logo de Depilcenter - Centro de depilación">
    <progress id="overViewBar" max="100" value="0"></progress>
</section>