{{!--
class="ui circular facebook icon button"
--}}
<div class="redesSocialesIcons">
    <div>
        <div>
            <a href="https://www.facebook.com/depilcenter.ecu" target="_blank">
                <i class="facebook icon"></i>
            </a>
        </div>
    </div>
    <div>
        <div>
            <a href="https://www.instagram.com/depilcenter.ecu/" target="_blank">
                <i class="instagram icon"></i>
            </a>
        </div>
    </div>
    <div>
        <div class="sendWhMesage">
            <a>
                <i class="whatsapp icon"></i>
            </a>
        </div>
    </div>
    <div>
        <div>
            <a href="https://n9.cl/n4ry0" target="_blank">
                <i class="map marker alternate icon"></i>
            </a>
        </div>
    </div>

</div>