{{!--
class="ui circular facebook icon button"
--}}
<div class="redesSocialesIcons">
    <div>
        <div>
            <a href="#">
                <i class="facebook icon"></i>
            </a>
        </div>
    </div>
    <div>
        <div>
            <a href="#">
                <i class="instagram icon"></i>
            </a>
        </div>
    </div>
    <div>
        <div>
            <a href="#">
                <i class="whatsapp icon"></i>
            </a>
        </div>
    </div>
    <div>
        <div>
            <a href="#">
                <i class="map marker alternate icon"></i>
            </a>
        </div>
    </div>

</div>