<div class="redesSocialesAll">
    <div class="img1">
        <a href="https://n9.cl/7ag1c" target="_blank"><img src="../img/social/wtspp.png"
                alt="Whatsapp; Depilcenter - Centro de depilaci贸n"></a>
    </div>
    <div class="img2">
        <a href="https://www.facebook.com/depilcenter.ecu" target="_blank"><img src="../img/social/fb.png"
                alt="Facebook; Depilcenter - Centro de depilaci贸n"></a>
    </div>
    <div class="img3">
        <a href="https://www.instagram.com/depilcenter.ecu" target="_blank"><img src="../img/social/inst.png"
                alt="Instagram; Depilcenter - Centro de depilaci贸n"></a>
    </div>
    <div class="img4">
        <a href="https://www.tiktok.com/@depilcenter.ecu?" target="_blank"><img src="../img/social/tk.png"
                alt="Tik-tok; Depilcenter - Centro de depilaci贸n"></a>
    </div>
</div>