<form class='registrarReserva' id='registrarReserva' method='POST'>

  <div class='reserva'>
    <h5>¿DONDE Y CUANDO?</h5>
    <p>Elige el lugar, servicio, hora y fecha de la cita.</p>
  </div>

  <div class='agendarWhatsapp'>
    <h6>Agendar por Whatsapp</h6>
    <img src='../img/social/wtspp.png' alt='' />
  </div>

  <div class='locales'>
    <label class='labelLocales' for='locales'>Lugar<span> *</span></label>
    <select name='locales'>
      <option value='Quito/Condado' selected>Quito/Condado</option>
    </select>
  </div>

  <div class='serviciosSelect'>
    <label for='serviciosSelect'>Servicio<span> *</span></label>
    <select name='servicios'>
      <option value='Depilacion con cera' selected>Depilacion con cera</option>
    </select>
  </div>

  <div class='hora'>
    <label for='hora'>Hora<span> *</span></label>
    <input id='hora' type='time' name='hora' min='07:59' value='08:00' />
  </div>

  <div class='fecha'>
    <label for='fecha'>Fecha<span> *</span></label>
    {{!  pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"   (Para editar el orden en el que los datos se guardan) }}
    <input id='fecha' type='date' name='fecha' />
    <p class='errDatos errFecha'></p>
  </div>

  <div class='datoNombres'>
    <label for='nombres'>Nombres<span> *</span></label>
    <input id='nombres' type='text' name='nombres' autocomplete='off' placeholder='Un nombre y un apellido' />
    {{! <p class="errDatos errNombres"><span class="material-icons errIcon">error_outline</span>Ingresa un nombre valido</p> }}
    <p class='errDatos errNombres'></p>
  </div>

  <div class='datoNum'>
    <label for='numeroTelefono'>Telefono<span> *</span></label>
    <input id='numeroCelular' type='text' name='numeroCelular' autocomplete='off' placeholder='Ejm. 0991234567' />
    {{! <p class="errDatos errNumero">Ingresa un numero valido<span class="material-icons errIcon">error_outline</span></p> }}
    <p class='errDatos errNumero'></p>
  </div>

  <div class='datoFechaCumple'>
    <label for='fechaCumpleaios'>Fecha Cumpleaños</label>
    <input type='date' name='fechaCumpleanios' autocomplete='off' />
    <p class='errDatos errFechaCumpleanios'></p>
  </div>

  <div class='terminosButton'>
    <div class='agendarBotonChildOne'>
      <input id='terminos' type='checkbox' name='suscripcion' checked />
      <label for='terminos'>Acetar terminos y condiciones</label>
    </div>

    <div class='agendarBotonTwo'>
      <button type='submit'>Agendar Cita&nbsp </button>
    </div>
  </div>

</form>