<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <title>Document</title>
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>

    <header class="__containerMainLogin">
        <section class="_centrarLogin">
            <div>
                <h1>Login Admin</h1>
            </div>
            <div>
                <label for="correId">Email: </label>
                <input type="email"  name="email" id="correoId" >
            </div>
            <div>
                <label for="passwordId">Contraseña: </label>
                <input type="text" name="password" id="passwordId">
            </div>
            <div align="center">
                <button type="submit">Login</button>
            </div>
        </section>
    </header>
    
    <script src="../js/login.js"></script>
</body>
</html>